{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit 
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="/index.html">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-padding-bottom-5">
  

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-9">
        How to change your contact address on property records
      </h1>


      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Address for members of the public
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>HM Land Registry Citizen Centre<br>PO Box 74<br>Gloucester<br>GL14 9BB</p>
        </div>
      </details>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Royal Mail address for business customers
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>HM Land Registry<br>(Insert the name of your closest office)<br>PO Box 75<br>Gloucester<br>GL14 9BD</p>
        </div>
      </details>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            DX address for business customers
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>HM Land Registry<br>(Insert the name of your closest office)<br>DX 321601<br>Gloucester 33</p>
          <p><span class="govuk-heading-m cardsubtitles">Offices</span></p>
          <p>Birkenhead<br>Coventry<br>Croydon<br>Durham<br>Gloucester<br>Hull<br>Fylde<br>Leicester<br>Nottingham<br>Peterborough<br> Plymouth<br>Swansea<br>Telford<br>Weymouth</p>
        </div>
      </details>

    </div>

  </div>

{% endblock %}
