
{% extends "layout_webforms.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



<style>
  
    ul.horizontal {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #f4f4f4;
      margin-bottom:30px;
    }
    
    ul.horizontal li {
      float: left;
    }
    
    ul.horizontal li a.active {
      background-color:#1D70B8;
      color:#ffffff;
    }
    ul.horizontal li a {
      display: inline-block;
      color: #1D70B8;
      text-align: center;
      text-decoration: none;
      font-weight: 700;
      position: relative;
      padding: 0 15px;
      line-height: 50px;
      font-size:19px;
    }
    
    ul.horizontal li a:focus {
      outline: 3px solid transparent;
        color: #0b0c0c;
        background-color: #fd0;
        -webkit-box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
        box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
        text-decoration: none;
    }
    
    ul.horizontal li a:hover {
    text-decoration: underline;;
    }
    
    .rightli {
      float: right!Important;
    }
    
    .govuk-phase-banner {
        border-bottom: 0px solid #b1b4b6;
    }
    
    .govuk-link:visited {
        color: #4c2c92;
    }
    
    .govuk-link:link {
        color: #1d70b8;
    }
    
    .gem-c-transition-countdown--cta {
        background-color: #f3f2f1;
        border-top: 0px solid #ff003b;
        display: block;
        padding: 15px;
        text-decoration: none;
    }
    
    .gem-c-transition-countdown {
        font-size: 19px;
        line-height: 1.3157894737;
    }
    
    .gem-c-transition-countdown {
        -webkit-font-smoothing: antialiased;
        font-weight: 400;
        margin-bottom: 30px;
    }
    
    .gem-c-transition-countdown__title {
        margin-bottom: 15px;
    }
    
    .gem-c-transition-countdown__title {
        color: #1e1348;
    }
    
    .gem-c-transition-countdown__title {
        font-size: 24px;
        line-height: 1.25;
    }
    
    .gem-c-transition-countdown__title {
        font-weight: 700;
        display: block;
        margin-top: 0;
    }
    
    .gem-c-transition-countdown__countdown {
        margin-bottom: 0;
        margin-top: 0;
    }
    
    .gem-c-transition-countdown__countdown-number {
        padding: 15px 5px 15px;
    }
    
    .gem-c-transition-countdown__countdown-number:first-child {
        margin-right: 3px;
    }
    
    .gem-c-transition-countdown__countdown-number {
        font-size: 80px;
        line-height: .75;
    }
    
    .gem-c-transition-countdown__countdown-number {
        font-weight: 700;
        min-width: 50px;
        text-align: center;
        display: inline-block;
        background: #1e1348;
        color: #fff;
        position: relative;
        margin-bottom: 10px;
    }
    
    .gem-c-transition-countdown__countdown-number:after {
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -1px;
        height: 3px;
        background: #fff;
        content: '';
        width: 100%;
        display: block;
    }
    
    .gem-c-transition-countdown__countdown-number:nth-child(2) {
        margin-right: 10px;
    }
    
    .gem-c-transition-countdown__countdown-number {
        font-size: 80px;
        line-height: .75;
    }
    
    
    .gem-c-transition-countdown__countdown-text {
        display: inline-block;
        margin-bottom: 0;
        height: 45px;
        vertical-align: middle;
        color: #1e1348;
    }
    
    
    .gem-c-transition-countdown__countdown-text {
        height: 75px;
        font-weight: 700;
    }
    
    .gem-c-transition-countdown__countdown-text {
        font-size: 24px;
        line-height: 1.25;
    }
    
    .gem-c-transition-countdown__text {
        text-decoration: underline;
    }
    
    .pre-title {
      color:#505A5F;
      font-size:27px;
      line-height:27px;
      font-family: 'GDS Transport';
      margin-bottom: 5px;
        display: block;
        margin-top:10px;
    }
    
    .main-title {
      font-size:36px;
      line-height:40px;
      color:#0b0c0c;
      font-family: 'GDS Transport';
      font-weight:700;
      margin-bottom: 20px;
        display: block;
    }
    
    .sub-title {
      font-size:24px;
      line-height:30px;
      color:#0b0c0c;
      font-family: 'GDS Transport';
        display: block;
    }
    
    .govuk-inset-text {
      background-color: #F5F5F5;
    }
    
    .govuk-width-container {
        max-width: 1100px;
    }
    
    .govuk-grid-column-one-third {
        width: 33.3333%;
        float: left;
        max-width: 325px;
        margin-left: 50px;
    }
    
    .section-categories {
      padding:0px;
    }
    
    .categories {
      display: block;
        list-style-type: none;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 0px;
        text-decoration: none;
        font-size:19px;
        line-height:35px;
        color:#1d70b8;
    }
    
    .form-search {
        width: 100%;
        position: relative;
        display: inline-block;
        margin-bottom: 0;
    }
    
    form {
        margin: 0 0 30px;
    }
    
    .govuk-visually-hidden {
        position: absolute !important;
        width: 1px !important;
        height: 1px !important;
        margin: 0 !important;
        padding: 0 !important;
        overflow: hidden !important;
        clip: rect(0 0 0 0) !important;
        -webkit-clip-path: inset(50%) !important;
        clip-path: inset(50%) !important;
        border: 0 !important;
        white-space: nowrap !important;
    }
    
    .form-search .search-input-wrapper {
        width: 100%;
        display: inline-block;
        position: relative;
    }
    
    .form-search input.search-query {
        height: 40px;
        float: left;
        width: 86%;
        z-index: 10;
        border-radius: 0px;
        border: 2px solid #000;
    }
    
    .form-search input[type="submit"] {
        width: 40px;
        height: 40px;
        float: left;
        padding: 6px;
        background: #1D70B8 url(/public/images/search-button.png) no-repeat 2px 50%;
        text-indent: -5000px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: none;
        border-radius: 0px;
        cursor: pointer;
    }
    
    .btn-secondary, .btn, .btn:visited {
        background-color: #1D70B8;
        color: #fff;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        font-weight: 400;
        overflow: visible;
        -webkit-font-smoothing: antialiased;
    }
    
    .btn:before {
        content: "";
        height: 110%;
        width: 100%;
        display: block;
        background: transparent;
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .popular-searches {
      font-size: 16px;
      line-height: 28px;
    }
    :focus {
        outline: -webkit-focus-ring-color auto 0px;
    }
    
    
    .search-input-wrapper {
        width: 100%;
        display: inline-block;
        position: relative;
    }
    
    input.search-query {
        height: 40px;
        width: 100%;
        z-index: 10;
        border-radius: 0px;
        border: 2px solid #000;
        max-width: 480px;
    }
    
    .searchBox {
        width: 387px;
        height: 35px;
        font-size: 19px;
        padding-left: 35px;
        margin-top: 0px;
        border-color: #000;
        border-width: 1px;
        border-radius: 0px;
        font-family: arial;
        font-size: 16px;
        outline: none !important;
        position: relative;
        background-image: url(/public/images/icon-search.svg);
        background-repeat: no-repeat;
        background-position: center left -2px;
        background-size: 40px 40px;
    }
    
    
    
    .card {
        max-width: 750px;
        margin: auto;
        margin-bottom: 0px;
        text-align: left;
        display: block;
        border: 1px solid #dedede;
        padding: 50px 50px 20px 50px;
        border-radius: 24px 24px 0px 0px ;
    }
    
    .card2 {
        max-width: 750px;
        margin: auto;
        margin-bottom: 40px;
        text-align: left;
        display: block;
        border: 1px solid #dedede;
        border-top:0px;
        padding: 25px 50px 25px 50px;
        -webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.05);
        -moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.05);
        box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.05);
        border-radius: 0px 0px 24px 24px;
    }
    
    
    
    .question {
        font-size: 22px;
        font-weight:600;
        margin-bottom: 3px;
    }
    
    .answer {
        font-size:17px;
        font-weight:400;
        margin-bottom:0px;
    }
    
    .subject {
        font-size: 15px;
        font-weight:400;
        background:#ededed;
        color:#000000;
        padding:5px 10px;
        display:inline-block;
        border-radius:3px;
        margin-top:20px;
    }
    
    .downloadimage {
        border: 1px solid #dedede;
        display: inline-block;
        margin-right: 15px;
    }
    
    .downloadlink {
    font-weight:600;
    }
    
    .yes {
        display: block;
        width: 100%;
        border-top: 1px solid #dedede;
        padding-bottom: 25px;
        padding-top: 25px;
    }
    
    .no {
        display:none;
    }
    
    .cardtitles {
        margin-top: 0px;
        font-size: 27px;
        margin-bottom: 8px;
    }
    
    .cardsubtitles {
        margin-top: 0px;
        margin-bottom: 5px;
        font-size: 19px;
    }
    
    .cardsubtitlesMedium {
        margin-top: 0px;
        margin-bottom: 5px;
        font-size: 22px;
    }
    
    ol {
        padding-inline-start: 17px
    }
    
    li {
        padding-bottom: 5px;
    }
    
    .categories a {
      background: #F5F5F5;
        width: 23%;
        margin-right: 2%;
        margin-bottom: 2%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        float: left;
        font-size: 17px;
        text-align: center;
    }
    
    .categories a:focus {
      background: #ffdd00;
    }
    
    .logo {
        float:left !important;
    }
    
    .selection {
        margin-top: 25vh;
        font-size: 2rem;
        font-weight: bold;
        color: #ffc6c6;
        transition: var(--transition-1);
        margin: 50px 0px;
    }
    
    .autoComplete_wrapper {
        position: relative;
        display: inline-block;
        width: 100%;
        max-width:500px;
        margin-bottom:0px;
    }
    
    #autoComplete {
        width: 100%;
        max-width:500px;;
        padding-left: 40px;
        margin-top: unset;
        font-size: 16px;
        outline: unset;
        position: unset;
        background-image: unset;
        background-repeat: unset;
        background-position: unset;
        background-size: unset;
        color: unset;
        background-color: unset;
        display: unset;
        border: unset;
        box-shadow: unset;
        border-radius: unset;
        z-index: 100;
        height: unset;
        margin: unset;
        min-height:44px;
    }
    
    #autoComplete:hover {
        color: #0b0c0c;
    }
    
    #autoComplete:focus {
        border: 0px solid #dfe1e5;
        color: #0b0c0c;
    }
    
    #autoComplete:hover::placeholder {
        color: rgba(11,12,12,.5);
    }
    
    #autoComplete:focus::placeholder {
      color: rgba(11,12,12,.5);
      font-size:16px;
      font-family: arial;
      padding:0px;
      font-weight:400;
    }
    
    #autoComplete::placeholder {
      color: rgba(11,12,12,.5);
      font-size:16px;
      font-family: arial;
      font-weight:400;
    }
    
    .autoComplete_result {
        margin: 0;
        padding: 10px 10px 10px 40px;
        list-style: none;
        text-align: left;
        font-size: 1rem;
        color: #212121;
        transition: all 0.1s ease-in-out;
        border-radius: 0;
        background-color: unset;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: all 0.1s ease;
    }
    
    .no_result {
        margin: 0.3rem;
        padding: 0.3rem 0.5rem;
        list-style: none;
        text-align: left;
        font-size: 1rem;
        transition: all 0.1s ease-in-out;
        border-radius: 0.35rem;
        background-color: rgba(255, 255, 255, 1);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: all 0.2s ease;
        outline: none;
    }
    
    #autoComplete_list {
        margin-top: 0px;
        border-radius: 0px;
        box-shadow: unset;
        border: 0px solid #dfe1e5;
        border-radius: 0px;
        padding: 0px;
        z-index: 99;
        position: initial;
    }
    
    .autoComplete_highlighted {
        color: #1d70b8;
        font-weight: bold;
    }
    
    .autoComplete_result:hover {
        cursor: pointer;
        background-color: #f2f2f2;
    }
    
    .autoComplete_selected {
        cursor: pointer;
        background-color: #f2f2f2;
    }
    
    #autoComplete::selection {
        background-color: #1D70B8;
        color:#ffffff;
    }
    
    #autoComplete:focus::selection {
        background-color: #1D70B8;
        color:#ffffff;
    }
    
    @keyframes fadeIn {
        0% {
            opacity:0;
        }
        100% {
            opacity:1;
        }
    }
    
    #card {  
      /* This section calls the slideInFromLeft animation we defined above */
      animation: 0.25s ease-out 0s 1 fadeIn;
    }
    
    .autoSearchBox {
        width: 100%;
        max-width:500px;
        margin-top: 0px;
        font-family: arial;
        font-size: 16px;
        outline: none !important;
        position: relative;
        background-image: url(/public/images/icon-search.svg);
        background-repeat: no-repeat;
        background-position: top 2px left 2px;
        background-size: 40px 40px;
        color: #0b0c0c;
        background-color: #fff;
        display: flex;
        border: 1px solid #dfe1e5;
        box-shadow: none;
        border-radius: 24px;
        z-index: 100;
        margin: 0 auto;
        transition:0.3s;    
    }
    
    
    .autoSearchBox:focus-within {
      box-shadow: 0 3px 6px rgba(149, 157, 165, 0.2);
      transition:0.3s;  
    }
    
    #voiceSearch button {
        position: absolute;
        top: -1px;
        right: 1px;
        bottom: unset;
        background-color: transparent;
        outline: none;
        border: none;
        width: 3rem;
        text-align: center;
        font-size: 24px;
        cursor: pointer;
        color: #1d70b8;
    }
    
    
    .fa-microphone-alt {
        background: red;
        color: #ffffff;
        border-radius: 50px;
        width: 44px;
        height: 44px;
        line-height: 44px !important;
        transition:0.5s;
        animation: pulse 2s;
        animation-iteration-count: 5;
    }
    
    .fa-microphone {
        background: rgba(0, 0, 0, 0);
        color: #505a5f;
        border-radius: 50px;
        width: 44px;
        height: 44px;
        line-height: 44px !important;
        transition:0.2s;
    }
    
    .fa-microphone:hover {
        color: #1d70b8;
        transition:0.2s;
    }
    
    
    @keyframes pulse {
        0% {
            transform: scale(1);
            box-shadow: 0 0 0 0 rgba(255 0, 0, 0.7);
        }
    
        50% {
            transform: scale(1);
            box-shadow: 0 0 0 10px rgba(255, 0, 0, 0.2);
        }
    
        100% {
            transform: scale(1);
            box-shadow: 0 0 0 0 rgba(2555, 0, 0, 0);
        }
    }
    
    .govuk-details {
        margin-bottom: 0px;
    }
    
    
    p {
        font-size:17px;
    }
    
    .downloadItem {
        padding:5px 0px 10px 0px;
    }
    
    .fa-file-download {
        font-size: 18px;
        padding-right: 8px;
        color: #1d70b8;
    }
    
    .downloadSize {
        font-size: 15px;
        padding-left: 10px;
    }
    
    
    .helpfulSection {
        margin-top: 20px;
        border-top: 0px solid #b1b4b6;
        padding-top: 20px;
    }
    
    .as {
        margin-bottom: unset;
        margin-top: unset;
    }
    
    
    .as .as-button {
        background-color: #ffffff;
        border: .0625rem solid #dadce0;
        border-radius: .25rem;
        color: #1a73e8;
        cursor: pointer;
        display: inline-block;
        font-family: inherit;
        font-size: .875rem;
        font-weight: 500;
        line-height: 1rem;
        margin: .375rem .5rem .375rem 0;
        min-width: 5.5rem;
        padding: .625rem 0;
        position: relative;
        text-align: center;
    }
    
    .as .as-button:active {
        background-color: #dadce0;
    }
    
    .as .as-button:before, .as .as-button:after {
        background: currentColor;
        border-radius: 4px;
        bottom: 0;
        content: '';
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: opacity 15ms linear;
    }
    
    .as .as-button:before, .as .as-button:after {
        background: currentColor;
        border-radius: 4px;
        bottom: 0;
        content: '';
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: opacity 15ms linear;
    }
    
    .as .as-button:hover::before {
        opacity: .08;
    }
    
    .as .title {
        color: #202124;
        display: inline-block;
        font-weight: 500;
        padding: 1.125rem 0;
        font-size: 1rem;
        margin-right: 1.5rem;
    }
    
    .as .how-improve {
        color: #5f6368;
        margin-bottom: .5rem;
        padding-top: 12px !important;
    }
    
    .as .button-group {
        display: inline;
    }
    
    .as form {
        padding-top: 0;
    }
    
    .as:not(.rated) form, .as.rated .as-button, .as.submitted form {
    
    }
    
    .as .field:first-of-type {
        margin-top: .25rem;
    }
    
    .as .field {
        margin: .625rem 0;
    }
    
    .hcfe textarea {
        font-size: .8125rem;
        line-height: normal;
    }
    
    .as textarea {
        border: .0625rem solid #dadce0;
        border-radius: .25rem;
    }
    
    
    
    
    .as .submit-button {
        margin-top: 0;
    }
    
    .as .submit-button-target {
        top: 50%;
        transform: translateY(-50%);
    }
    
    #yesDiv {
        display:none;
    }
    
    .govuk-button--secondary {
        background-color: #ffffff;
        border: .0625rem solid #dadce0;
        border-radius: .25rem;
        color: #1a73e8;
        cursor: pointer;
        display: inline-block;
        font-family: inherit;
        font-size: .875rem;
        font-weight: 500;
        line-height: 1rem;
        margin: .375rem .5rem .375rem 0;
        min-width: 5.5rem;
        padding: .625rem 0;
        position: relative;
        text-align: center;
        box-shadow: unset;
    }
    
    .govuk-button {
        box-shadow: unset;
        border-radius: .25rem;
        margin-bottom: 20px;
    }
    
    .govuk-form-group {
     width: calc(50% - 30px);}
    
    .sidebyside {
        float: left;
        margin-right: 30px;
    }
    
    .govuk-select{
    width:100%;
    }
    
    .form-label-bold {
        font-weight: 400;
    }
    
    .govuk-hint {
        color: #707070;
    }
    
    .definitionTag {
        font-size: 14px;
        font-weight: 600;
        padding: 5px 10px;
        text-transform: uppercase;
        background: #f0f0f0;
        display: inline-block;
        line-height: 14px;
        margin-bottom: 10px;
        border-radius: 5px;
        color: #545454;
    }
    
    .pronounceword {
        font-weight:100;
        display: block;
        margin-bottom: 15px;
        margin-top: -6px;
        color: #6f6f6f;
    }
    
    .govuk-link:visited, a:visited, .app-step-nav-header__title:visited, .app-step-nav-related__link:visited {
        color: #1d70b8;
    }
    
    .searchPosition {
        text-align: center;
        padding: 100px 0px 0px 0px;
        min-height: 800px;
    }
    
    .betaPosition {
      margin-top:-50px;
    }
    
    /* Mobile optimisations */
    
    @media only screen and (max-width: 600px) {
      .searchPosition {
      padding:25px 0px 0px 0px; 
      min-height:500px;
    }
    
    .betaPosition {
      margin-top:-20px;
    }
    
    .sub-title {
        font-size: 20px;
        line-height: 25px;
        padding: 0px 25px;
    }
    
    #autoComplete_list {
        margin: -2px 0px 0px 0px;
    }
    
    .selection {
        margin: 0px;
    }
    
    .card {
        max-width: 750px;
        margin: auto;
        margin-bottom: 0px;
        text-align: left;
        display: block;
        border: 0px solid #b1b4b6;
        padding: 50px 0px 0px 0px;
        -webkit-box-shadow: unset;
        -moz-box-shadow: unset;
        box-shadow: unset;
        border-radius: 0px;
    }
    
    .betaPosition {
      margin-top:-20px;
    }
    
    .govuk-header {
        border-bottom: 1px solid #ffffff;
    }
    
    .card2 {
        margin: auto;
        margin-bottom: 40px;
        text-align: left;
        display: block;
        border: 0px solid #b1b4b6;
        padding: 0px 0px 25px 0px;
        -webkit-box-shadow: unset;
        -moz-box-shadow: unset;
        box-shadow: unset;
        border-radius: 0px;
    }
    
    #autoComplete_list {
        background: unset;
    }
    
    .as .how-improve {
        margin-bottom: 10px !Important;
        width: 100%;
        margin-top: 20px;
    }
    
    .govuk-button--secondary {
        max-width: 100px;
        float: left;
        margin-right:25px;
    }
    .searchPosition {
        padding: 25px 0px 0px 0px;
        min-height: 500px;
    }
    
    }
    
    
    </style>
    
    <div class="govuk-phase-banner betaPosition">
        <p class="govuk-phase-banner__content">
          <strong class="govuk-tag govuk-phase-banner__content__tag">
            beta
          </strong>
          <span class="govuk-phase-banner__text">
            This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
          </span>
        </p>
      </div>
      
        <div class="govuk-grid-row">
      
          <div class="govuk-grid-column-full searchPosition">
      <div>
          <span><img style="height:60px;" src="/public/images/HMRC-Logo-Icon.png"></span>
        <span class="pre-title">HM Land Registry</span>
        <span class="govuk-heading-l govuk-!-margin-bottom-7">Self-service support</span>
      </div>

      <div class="sub-title govuk-!-margin-bottom-8">
        Use this service to find a quick answer to your question
      </div>

        <div class="govuk-grid-column-full govuk-!-padding-bottom-6" style="padding-left:25px; padding-right:25px;">


            <div class="autoSearchBox" >
                <div id="voiceSearch" class="autoComplete_wrapper govuk-body">
                    <input id="autoComplete" type="text" dir="ltr" spellcheck="false" autocorrect="off" autocomplete="off" autocapitalize="off" maxlength="2048" tabindex="1" role="combobox" aria-haspopup="true" aria-expanded="false" aria-controls="autoComplete_list" aria-autocomplete="both">
                   <!-- <button type="button"><i class="fas fa-microphone"></i></button> -->
                </div>
            </div>

            

            <div class="selection govuk-body" style="opacity: 1;">
                
                <h2 style="color:#0b0c0c;">Thank you for your enquiry.</h2>
                
                </div>
            

    
        </div>
     


  </div>


  </div>

  <script src="/public/javascripts/autoComplete.min.js"></script>
  <script src="/public/javascripts/autoComplete-CustomAdvanced.js"></script>


  <script>
    function yesDiv() {
 document.getElementById('helpfulQuestion').style.display = "none";
 document.getElementById('noAnswer').style.display = "none";
document.getElementById('yesAnswer').style.display = "block";
}
</script>

<script>
  function noDiv() {
document.getElementById('helpfulQuestion').style.display = "none";
document.getElementById('noAnswer').style.display = "block";
document.getElementById('yesAnswer').style.display = "none";
}
</script>

<script>
  function submitFeedback() {
document.getElementById('helpfulQuestion').style.display = "none";
document.getElementById('noAnswer').style.display = "none";
document.getElementById('yesAnswer').style.display = "block";
}
</script>

{% endblock %}
