{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class=" govuk-grid-column-full govuk-!-padding-bottom-5">


      <h1 class="govuk-heading-xl">
        Current responsible person
      </h1>
      <form action="7" method="post" class="form">
        <div style="">
            <div class="govuk-form-group">
                <label class="govuk-label" for="first-name">
                First/Given names
                </label>
                <input class="govuk-input" id="first-name" name="first-name" value="{{ data['first-name'] }}" type="text" style="width: 300px;">
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="last-name">
                    Surname/Family name
                </label>
                <input class="govuk-input" id="family-name" name="family-name" value="{{ data['family-name'] }}" type="text" style="width: 300px;">
            </div>

          </div>

        </div>

<div class="govuk-!-padding-bottom-5"></div>

            <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
              <hr>

            </div>
          </div>

<div class="govuk-!-padding-bottom-5"></div>

<div class=" govuk-grid-column-full govuk-!-padding-bottom-5">

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-heading-l" style="max-width: 650px;">
          Has the current responsible person left your organisation?
        </h2>
      </legend>

      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="left-organisation" name="left-organisation-type" type="radio" value="Yes" {{ checked("left-organisation", "Yes") }}>
          <label class="govuk-label govuk-radios__label" for="left-organisation">
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="left-organisation" name="left-organisation-type" type="radio" value="No" {{ checked("left-organisation", "No") }}>
          <label class="govuk-label govuk-radios__label" for="left-organisation">
            No
          </label>
        </div>
      </div>

      <div class="govuk-!-padding-bottom-9"></div>

      <p> If the responsible person has left the organisation and they were also one of your organisation's administrators we will delete their account. </p>
      <p> Please return their security token to us or deposit it in accordance with Waste Electrical and Electronic Equipment (WEEE) environmental legislation. If they were also an authorised user, you should direct one of your organisation's administrators to delete that account. </p>


    </fieldset>

    <div class=" govuk-grid-column-full govuk-!-padding-bottom-5">
      <div class="govuk-button-group" style="margin-left: -16px">
      <button class="govuk-button" data-module="govuk-button" onclick="window.location.href='7.html'">
        Continue
      </button>
      </div>

</div>

  </div>

</div>



</div>

    </form>


    </div>



</div>

<style>

    .govuk-button-group {
        margin-right: -15px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
        display: flex;
    }

    .govuk-button-group .govuk-button, .govuk-button-group .govuk-link {
    margin-right: 15px;
}

.govuk-button-group .govuk-link {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1;
}
.govuk-form-group {
    float:left;
    margin-right:40px;
}

.govuk-summary-list__key, .govuk-summary-list__value, .govuk-summary-list__actions {
    border-bottom: 0px solid #b1b4b6;
}
    </style>


{% endblock %}
