{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class=" govuk-grid-column-full govuk-!-padding-bottom-5" style="max-width:860px;">


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
        Create a new variable Direct Debit (VDD) account key number
      </h1>



      <div class="govuk-inset-text">
        Only a responsible person or deputy responsible person can submit this request.
      </div>

      <div class="govuk-body govuk-!-margin-bottom-6" style="max-width: 765px;">
        <h3 class="govuk-heading-m">Before you start, you will need to:</h3>

        <ul class="govuk-body">
          <li>read the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/856965/paying-for-hm-land-registry-services-by-variable-direct-debit.pdf" target="_blank">VDD Guide</a></li>
          <li>download and fill in a <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/642994/HMLR_Direct_Debit_form_3_17.pdf" target="_blank">variable Direct Debit mandate form</a></li>
      </ul>

    </div>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <!-- Add an existing variable Direct Debit key number or create a new one -->
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="1.html">
                  Attach the document
                </a>
              </span>
              <strong class="govuk-tag govuk-tag app-task-list__tag" id="list-convictions-status">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="3.html">
                  Point-of-contact details
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            </li>
          </ul>
        </li>
      </ol>


      <div class="govuk-!-margin-bottom-9">
        <button class="govuk-button" data-module="govuk-button" data-module="govuk-button" onclick="window.location.href='3'">
          Continue
        </button>
      </div>

    </div>

  </div>

  <style>
    .app-task-list__items {
      padding-left: 0px;
  }
  </style>
{% endblock %}
