{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class=" govuk-grid-column-full govuk-!-padding-bottom-5" style="max-width:880px;">


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
        Attach the: full Network Access Agreement
      </h1>

      <p class="govuk-body govuk-!-margin-bottom-6">
        Attach a completed and signed copy of the full Network Access Agreement.
      </p>

      <div class="govuk-form-group">
        <label class="govuk-label form-label-bold" for="file-upload-1">
          Upload a file
        </label>
        <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
      </div>

      <form action="12" method="post" class="form">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
          <div class="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="uploaded-VDD-yes" name="uploaded-VDD" type="checkbox"  value="Yes" {{ checked("uploaded-VDD", "Yes") }}>
              <label class="govuk-label govuk-checkboxes__label" for="uploaded-VDD-yes">
                I'm authorised to make the application on behalf of {{ data["organisation-name"] }}.
              </label>
            </div>
          </div>

        </fieldset>
      </div>


      <div class="govuk-form-group" style="margin-bottom:15px;width: 100%;">
          <button class="govuk-button" type="submit" formaction="12">Continue</button>
      </div>
</form>


    </div>

  </div>

{% endblock %}
