{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl">Insurance details </h1>
	</div>
</div>
<p> All organisations except government departments must have idemnification arragements or be able to show why this is not necessary. 'Indemnifications arrangements' is defined in paragraph 10 of Schedule 1 to the Land Registration LR (NA) Rules. </p>
<div class="govuk-!-padding-bottom-6"></div>
<form class="form" action="9" method="post">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<form class="form" action="" method="post">
				<div class="govuk-form-group">
					<fieldset class="govuk-fieldset">
						<div>
  <div class="govuk-grid-column-full govuk-!-padding-bottom-3">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset"
        <div class="govuk-radios" id="myRadioGroup">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="Q3A" name="question3" type="radio" value="A">
            <label class="govuk-label govuk-radios__label" for="Q3A"> I certify that the organisation has the indemnification arrangements required by paragraph 2(1) of Schedule 1 to the LR (NA) Rules.
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="Q3B" name="question3" type="radio" value="B">
            <label class="govuk-label govuk-radios__label" for="Q3B"> The organisation is not under an obligation to comply with indemnification arrangements but has insurance that is reasonably equivalent (see paragraph 2(2) of Schedule 1 to the LR (NA) Rules).
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="Q3C" name="question3" type="radio" value="C">
            <label class="govuk-label govuk-radios__label" for="Q3C"> I confirm that the organisation is not required to meet the insurance criterion, as it is a government department.
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="Q3D" name="question3" type="radio" value="D">
            <label class="govuk-label govuk-radios__label" for="Q3D"> I confirm that the organisation is not under an obligation to comply with indemnification arrangements as defined in paragraph 10 of Schedule 1 to the LR (NA) Rules. It is not practicable to meet the insurance criterion, and it is unnecessary (paragraph 3(2) of Schedule 1 to LR (NA) Rules).
            </label>
          </div>
        </div>
      </fieldset>
    </div>
</div>

<button class="govuk-button" data-module="govuk-button" data-module="govuk-button" onclick="window.location.href='/UserResearch/PortalSignup/V3/NewAccountPart2/9.html'">Continue</button>

	{% endblock %}
