{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<h1 class="govuk-heading-xl">Has your organisation or any connected person been subject to a previous termination, notice of termination, intervention or disciplinary proceedings? </h1>
	</div>
</div>
<p> Either select the certificate or complete the details on the next page if any of the circumstances described in Paragraph 7 of Schedule 1 to the LR (NA) Rules applies to the applicant or connected person. </p>
<div class="govuk-!-padding-bottom-6"></div>
<form class="form" action="termination2" method="post">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<form class="form" action="" method="post">
				<div class="govuk-form-group">
					<fieldset class="govuk-fieldset">
						<div>
  <div class="govuk-grid-column-full govuk-!-padding-bottom-3">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset"
        <div class="govuk-radios" id="myRadioGroup">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="termination2-01" name="termination2" type="radio" value="No">
            <label class="govuk-label govuk-radios__label" for="termination2-01"> No, I certify that to my knowledge,paragraph 7 of Schedule 1 to the Land Registration (Network Access) Rules does not apply to the organisation or any connected person
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="termination2-02" name="termination2" type="radio" value="Yes">
            <label class="govuk-label govuk-radios__label" for="termination2-02"> Yes, details of circumstance described in paragraph 7 of Schedule 1 to the LR (NA) Rules that apply to the organisation or to a connected person are provided
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Why do we need to know this?
    </span>
  </summary>
  <div class="govuk-details__text">
    If the customer or a connected person as defined in the LA (NR) Rules has been involved in any of these circumstances in the previous 3 years, we will look more carefully at the application. There will not be an absolute bar on the grant of a NAA, but we will consider the circumstances, and assess whether the applicant is likely to comply with the terms of the NAA.
  </div>
</details>

</div>

<button type="submit" class="govuk-button" data-module="govuk-button">
    Continue
  </button>
  
	{% endblock %}
