{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class=" govuk-grid-column-full">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6" style="max-width:860px;">
      Business e-services account
    </h1>
  </div>


    <div class="govuk-grid-column-full govuk-!-padding-bottom-5" style="max-width:800px;">

        <p class="govuk-!-padding-bottom-5"> You can apply for Network Services as well as Lender Services to be added to your HM Land Registry Business e-services account. </p>


        <form method="post" class="form">

            <div style="width: 100%;display:inline-block;">

                <div class="govuk-form-group" style="float: unset;">
                      <label class="govuk-label" for="organisation-name">
                      Organisation name
                      </label>
                      <input class="govuk-input" id="organisation-name" name="organisation-name" value="{{ data['organisation-name'] }}" type="text" style="width: 450px;">
                </div>

                <div class="govuk-form-group" style="float: unset;">
                    <label class="govuk-label" for="application-reference">
                    Application reference
                    </label>
                    <input class="govuk-input" id="application-reference" value="{{ data['application-reference']}}" style="width: 450px;">
                </div>

                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Where can I find my application reference?
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      You can find it in your confirmation email from completting your AFS1 Business e-service account.
                    </div>
                  </details>

                <div class="govuk-form-group" style="margin-bottom:15px;width: 100%;">
                    <button class="govuk-button" type="submit" formaction="1">Sign in</button>
                </div>

            </div>

        </form>





    </div>

  </div>

{% endblock %}
