{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl">
  How to deal with common boundary matters
</h1>

<div class="govuk-grid-row">
   <div class="govuk-grid-column-full govuk-!-padding-bottom-3">
    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <div><h3 class="govuk-heading-m">What is your boundary enquiry?</h3></div>

                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">


                    <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="resolve" name="information" type="radio" value="email" data-aria-controls="conditional-resolve">
                    <label class="govuk-label govuk-radios__label" for="resolve">
                        I want help to resolve a boundary dispute
                    </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-resolve">
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="resolve-by-email">
                        Email address
                        </label>
                    </div>
                    </div>

                    <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="identify" name="information" type="radio" value="phone" data-aria-controls="conditional-identify">
                    <label class="govuk-label govuk-radios__label" for="identify">
                        I want to identify who owns a boundary, or is responsible for its repair and maintenance
                    </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-identify">
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="contact-by-phone">
                        Phone number
                        </label>
                    </div>
                    </div>


                    <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="confirm" name="information" type="radio" value="text" data-aria-controls="conditional-confirm">
                    <label class="govuk-label govuk-radios__label" for="confirm">
                        I want to confirm the position of a boundary
                    </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-confirm">
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="confirm-by-text">
                        Mobile phone number
                        </label>
                    </div>
                    </div>


                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="error" name="information" type="radio" value="text" data-aria-controls="conditional-error">
                        <label class="govuk-label govuk-radios__label" for="error">
                            I believe there is an error on the title plan
                        </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-error">
                        <div class="govuk-form-group">
                        <label class="govuk-label" for="error-by-text">
                            Mobile phone number
                        </label>
                    </div>
                    </div>




                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="advice" name="information" type="radio" value="text" data-aria-controls="conditional-advice">
                        <label class="govuk-label govuk-radios__label" for="advice">
                            I want advice about planning permissions
                        </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-advice">
                        <div class="govuk-form-group">
                        <label class="govuk-label" for="advice-by-text">
                            Follow our <b><a href="https://help.landregistry.gov.uk/app/answers/detail/a_id/364" target="_blank">guidance on planning permission</a></b>
                        </label>
                    </div>
                    </div>





                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="overhanging" name="information" type="radio" value="text" data-aria-controls="conditional-overhanging">
                        <label class="govuk-label govuk-radios__label" for="overhanging">
                            I want advice about overhanging branches and hedges
                        </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-overhanging">
                        <div class="govuk-form-group">
                        <label class="govuk-label" for="overhanging-by-text">
                            Follow our <b><a href="https://help.landregistry.gov.uk/app/answers/detail/a_id/365" target="_blank">guidance on overhanging branches</a></b>
                        </label>
                    </div>
                    </div>




                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="sewers" name="information" type="radio" value="text" data-aria-controls="conditional-sewers">
                        <label class="govuk-label govuk-radios__label" for="sewers">
                            I want advice about drains and sewers
                        </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-sewers">
                        <div class="govuk-form-group">
                        <label class="govuk-label" for="sewers-by-text">
                            Follow our <b><a href="https://help.landregistry.gov.uk/app/answers/detail/a_id/366" target="_blank">guidance on drains and sewers</a></b>
                        </label>
                    </div>
                    </div>




                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="noisy" name="information" type="radio" value="text" data-aria-controls="conditional-noisy">
                        <label class="govuk-label govuk-radios__label" for="noisy">
                            Noisy neighbours and fly-tipping
                        </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-noisy">
                        <div class="govuk-form-group">
                        <label class="govuk-label" for="noisy-by-text">
                            Follow our <b><a href="https://help.landregistry.gov.uk/app/answers/detail/a_id/367" target="_blank">guidance on noisy neighbours and fly-tipping</a></b>
                        </label>
                    </div>
                    </div>



                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="boundary" name="information" type="radio" value="text" data-aria-controls="conditional-boundary">
                        <label class="govuk-label govuk-radios__label" for="boundary">
                            I want to know what a boundary is
                        </label>
                    </div>

                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-boundary">
                        <div class="govuk-form-group">
                        <label class="govuk-label" for="boundary-by-text">
                            Follow our <b><a href="https://help.landregistry.gov.uk/app/answers/detail/a_id/368" target="_blank">guidance on boundaries</a></b>
                        </label>
                    </div>
                    </div>





            </div>
      
        </fieldset>
      </div>
   </div>
</div>

{% endblock %}