
{% extends "layout_webforms.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
      <h1 class=" govuk-heading-xl">
        Contact HM Land Registry: Large Scale Application
      </h1>
  </div>

    <div class="govuk-grid-column-full govuk-!-padding-bottom-3">
      
        <fieldset class="govuk-fieldset">
          
            <p style="padding-right: 100px;">Large Scale Applications usually affect commercial clients such as banks, UK and oversea companies and other corporate bodies. Typically, they are based on a common deed, such as a bulk transfer or charge, or a change of name or address comprising:</p>

              <ul class="govuk-body">
                <li>more than 50 registered titles; or</li>
                <li>more than 50 unregistered properties; or</li>
                <li>any combination of registered and unregistered titles exceeding 50 in total.</li>
            </ul>
            
              
            <p>If your enquiry does not fall within the above then use Contact HM Land Registry: <a href="https://help.landregistry.gov.uk/app/contactus_general" target="_blank">General Enquiry</a></p>
            
            <div class="govuk-form-group">
              <label class="govuk-label form-label-bold" for="first-name">
                First / Given name(s)
              </label>
              <input class="govuk-input govuk-input--width-10" id="first-name" name="first-name" type="text">
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label form-label-bold" for="last-name">
                  Surname / Family name
                </label>
                <input class="govuk-input govuk-input--width-10" id="last-name" name="last-name" type="text">
              </div>
          
              <div class="govuk-form-group">
                <label class="govuk-label form-label-bold" for="telephone-number">
                  Telephone number
                </label>
                <input class="govuk-input govuk-input--width-10" id="telephone-number" name="telephone-number" type="tel" autocomplete="tel"></div>


            <div class="govuk-form-group">
              <label class="govuk-label form-label-bold" for="email-address">
                Email address
              </label>
              <div id="waste-hint" class="govuk-hint">
                We'll use this address to contact you
              </div>
              <input class="govuk-input govuk-input--width-20" id="email-address" name="email-address" type="text"></div>
          
              <div class="govuk-form-group">
                <label class="govuk-label form-label-bold" for="email-address">
                  Re-type email address
                </label>
                <input class="govuk-input govuk-input--width-20" id="email-address" name="email-address" type="text"></div>

                <h3 class="govuk-heading-m govuk-!-padding-top-8">What is the nature of the application?</h3>

                

                <div class="govuk-grid-row">
                      <div class="govuk-form-group govuk-grid-column-one-half">
                        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                          <label class="govuk-label form-label-bold" for="tr5">
                            Transfer a portfolio using form TR5
                          </label>
                          
                          <div class="govuk-radios govuk-radios--inline govuk-radios--small">
                            
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="tr5" name="tr5" type="radio" value="yes">
                              <label class="govuk-label govuk-radios__label" for="tr5">
                                Yes
                              </label>
                            </div>
                            
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="tr5-2" name="tr5" type="radio" value="no">
                              <label class="govuk-label govuk-radios__label" for="tr5-2">
                                No
                              </label>
                            </div>

                          </div>

                    </fieldset>
                  </div>

                  <div class="govuk-form-group govuk-grid-column-one-half">
                    <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                      <label class="govuk-label form-label-bold" for="tr5">
                        Transfer a portfolio using form TR4
                      </label>
                      
                      <div class="govuk-radios govuk-radios--inline govuk-radios--small">
                        
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="tr4" name="tr4" type="radio" value="yes">
                          <label class="govuk-label govuk-radios__label" for="tr4">
                            Yes
                          </label>
                        </div>
                        
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="tr4-2" name="tr4" type="radio" value="no">
                          <label class="govuk-label govuk-radios__label" for="tr4-2">
                            No
                          </label>
                        </div>

                      </div>

                    </fieldset>
                  </div>

                  <div class="govuk-form-group govuk-grid-column-one-half">
                    <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                      <label class="govuk-label form-label-bold" for="change-of-name">
                        Change of name, registered proprietor
                      </label>
                      
                      <div class="govuk-radios govuk-radios--inline govuk-radios--small">
                        
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="change-of-name" name="change-of-name" type="radio" value="yes">
                          <label class="govuk-label govuk-radios__label" for="change-of-name">
                            Yes
                          </label>
                        </div>
                        
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="change-of-name-2" name="change-of-name" type="radio" value="no">
                          <label class="govuk-label govuk-radios__label" for="change-of-name-2">
                            No
                          </label>
                        </div>

                      </div>

                    </fieldset>
                  </div>

                  <div class="govuk-form-group govuk-grid-column-one-half">
                    <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                      <label class="govuk-label form-label-bold" for="charge">
                        Charge
                      </label>
                      
                      <div class="govuk-radios govuk-radios--inline govuk-radios--small">
                        
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="charge" name="charge" type="radio" value="yes">
                          <label class="govuk-label govuk-radios__label" for="charge">
                            Yes
                          </label>
                        </div>
                        
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="charge-2" name="charge" type="radio" value="no">
                          <label class="govuk-label govuk-radios__label" for="charge-2">
                            No
                          </label>
                        </div>

                      </div>

                    </fieldset>
                  </div>


                  <div class="govuk-form-group govuk-grid-column-one-half">
                    <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                      <label class="govuk-label form-label-bold" for="change-address">
                        Change of address, registered proprietor
                      </label>
                      
                      <div class="govuk-radios govuk-radios--inline govuk-radios--small">
                        
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="change-address" name="change-address" type="radio" value="yes">
                          <label class="govuk-label govuk-radios__label" for="change-address">
                            Yes
                          </label>
                        </div>
                        
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="change-address-2" name="change-address" type="radio" value="no">
                          <label class="govuk-label govuk-radios__label" for="change-address-2">
                            No
                          </label>
                        </div>

                      </div>

                    </fieldset>
                  </div>


                  <div class="govuk-form-group govuk-grid-column-one-half">
                    <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                      <label class="govuk-label form-label-bold" for="change-address-chargee">
                        Change of address, chargee
                      </label>
                      
                      <div class="govuk-radios govuk-radios--inline govuk-radios--small">
                        
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="change-address-chargee" name="change-address-chargee" type="radio" value="yes">
                          <label class="govuk-label govuk-radios__label" for="change-address-chargee">
                            Yes
                          </label>
                        </div>
                        
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="change-address-chargee-2" name="change-address-chargee" type="radio" value="no">
                          <label class="govuk-label govuk-radios__label" for="change-address-chargee-2">
                            No
                          </label>
                        </div>

                      </div>

                    </fieldset>
                  </div>


                  <div class="govuk-form-group govuk-grid-column-one-half">
                    <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                      <label class="govuk-label form-label-bold" for="change-status">
                        Change of status, registered proprietor
                      </label>
                      
                      <div class="govuk-radios govuk-radios--inline govuk-radios--small">
                        
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="change-status" name="change-status" type="radio" value="yes">
                          <label class="govuk-label govuk-radios__label" for="change-status">
                            Yes
                          </label>
                        </div>
                        
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="change-status-2" name="change-status" type="radio" value="no">
                          <label class="govuk-label govuk-radios__label" for="change-status-2">
                            No
                          </label>
                        </div>

                      </div>

                    </fieldset>
                  </div>


                  <div class="govuk-form-group govuk-grid-column-one-half">
                    <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                      <label class="govuk-label form-label-bold" for="change-name-chargee">
                        Change of name, chargee
                      </label>
                      
                      <div class="govuk-radios govuk-radios--inline govuk-radios--small">
                        
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="change-name-chargee" name="change-name-chargee" type="radio" value="yes">
                          <label class="govuk-label govuk-radios__label" for="change-name-chargee">
                            Yes
                          </label>
                        </div>
                        
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="change-name-chargee-2" name="change-name-chargee" type="radio" value="no">
                          <label class="govuk-label govuk-radios__label" for="change-name-chargee-2">
                            No
                          </label>
                        </div>

                      </div>

                    </fieldset>
                  </div>


                  <div class="govuk-form-group govuk-grid-column-one-half">
                    <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                      <label class="govuk-label form-label-bold" for="restrictioner">
                        Change of name and/or address of restrictioner
                      </label>
                      
                      <div class="govuk-radios govuk-radios--inline govuk-radios--small">
                        
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="restrictioner" name="restrictioner" type="radio" value="yes">
                          <label class="govuk-label govuk-radios__label" for="restrictioner">
                            Yes
                          </label>
                        </div>
                        
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="restrictioner-2" name="restrictioner" type="radio" value="no">
                          <label class="govuk-label govuk-radios__label" for="restrictioner-2">
                            No
                          </label>
                        </div>

                      </div>

                    </fieldset>
                  </div>
                </div>

                <div class="govuk-form-group">
                  <label class="govuk-label form-label-bold" for="supply-details">
                    Supply details below, if your application is not covered above
                  </label>
                  <input class="govuk-input govuk-input--width-30" id="supply-details" name="supply-details" type="text">
                </div>

                <h3 class="govuk-heading-m govuk-!-padding-top-8">Do you know the size of the application?</h3>

                <p style="padding-right: 100px;">To be eligible a large scale application needs to be</p>

                <ul class="govuk-body">
                  <li>more than 50 registered titles; or</li>
                  <li>more than 50 unregistered properties; or</li>
                  <li>any combination of registered and unregistered titles exceeding 50 in total.</li>
              </ul>

              <div class="govuk-form-group">
                <label class="govuk-label form-label-bold" for="application-size">
                  Application size
                </label>
                <input class="govuk-input govuk-input--width-10" id="application-size" name="application-size" type="text"></div>

                <h3 class="govuk-heading-m govuk-!-padding-top-8">What is the current stage of your application?</h3>

                <div class="govuk-form-group">
                  <label class="govuk-label form-label-bold form-label-bold" for="sort">
                    Application stage
                  </label>
                  <select class="govuk-select" id="sort" name="sort" style="width: 23ex;">
                    <option value="select" selected>--</option>
                    <option value="allcat">Preliminary</option>
                    <option value="missing">Ready to lodge</option>
                    <option value="typeerror">Already sent</option>
                  </select>
                </div>


          </fieldset>

    </div>

    <div  class="govuk-grid-column-full">
      <button class="govuk-button" data-module="govuk-button" data-module="govuk-button" onclick="window.location.href='/UserResearch/Webforms/Largescale/V1_Submitted.html'">
        Submit
      </button>
    </div>


  </div>

{% endblock %}
