
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full govuk-!-padding-bottom-3">
      <form class="form" action="public-option1-option8-choice" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading govuk-!-padding-bottom-7">
                    Search of the Index Map enquiry
                </h1>
                
              </legend>

              <div>
                <h3 class="govuk-heading-m">Select one option</h3>
              </div>

          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="public-option1-option8-1" name="public-option1-option8" type="radio" value="whats-happening">
              <label class="govuk-label govuk-radios__label" for="public-option1-option8-1">
                What's happening with my application?
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="public-option1-option8-2" name="public-option1-option8" type="radio" value="cancel-application">
              <label class="govuk-label govuk-radios__label" for="public-option1-option8-2">
                I need to cancel my application
              </label>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="public-option1-option8-3" name="public-option1-option8" type="radio" value="misplaced-result">
                <label class="govuk-label govuk-radios__label" for="public-option1-option8-3">
                    I have lost/misplaced my result
                </label>
            </div>

            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="public-option1-option8-4" name="public-option1-option8" type="radio" value="incorrect-application">
                <label class="govuk-label govuk-radios__label" for="public-option1-option8-4">
                    My application has been completed, but is incorrect
                </label>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="public-option1-option8-5" name="public-option1-option8" type="radio" value="something-else">
                <label class="govuk-label govuk-radios__label" for="public-option1-option8-5">
                    Or something else relating to a Search of the Index Map
                </label>
            </div>
        
          </div>
      
        </fieldset>
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Next step
      </button>

    </form>
    </div>

  </div>

{% endblock %}
