{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit 
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class=" govuk-grid-column-full govuk-!-padding-bottom-5">
  

      <h1 class="govuk-heading-xl" style="">
        What is the nature of your legal entity?
      </h1>

      <p>Select the option that reflects your organisation's legal personality, or recognised legal structure. <br>That legal personality if it is not an individual person, may be a result of statue.</p>
      <form method="post" class="form">
      <div class="govuk-body" style="margin-bottom: 50px;">
        <select class="govuk-select" id="sort" onchange="location = this.value;">
                <option value="1c-option1.html">Limited company/Public limited company</option>
                <option value="1c-option2.html">Sole practitioner</option>
                <option value="1c-option3.html">Government department</option>
                <option value="1c-option4.html">Police and security services</option>
                <option value="1c-option5.html">Limited liability partnerships/Limited partnership</option>
                <option value="1c-option6.html">Partnership</option>
                <option value="1c-option7.html">Local authority</option>
                <option value="1c-option8.html">Other</option>
        </select>
    </div>


        <h2 class="govuk-heading-l">
            What business type is your organisation?
          </h2>
          <p style="max-width:840px;">'Legal services provider' includes solicitors and licensed conveyancers, practices and licensed bodies (alternative business structures).</p>

          <div class="govuk-body" style="margin-bottom: 50px;">
            <select class="govuk-select" id="sort" onchange="location = this.value;" style="width:436px;">
                    <option value="#">Please select an option</option>
                    <option value="#">Legal services provider</option>
                    <option value="#">Lender</option>
                    <option value="#">Police and security services</option>
                    <option value="#">Insolvency service</option>
                    <option value="#">Property investors/services</option>
                    <option value="#">Building company/developer</option>
                    <option value="#">Estate agent</option>
                    <option value="#">Chartered surveyor</option>
                    <option value="#">Privatised utility</option>
                    <option value="#">Financial services</option>
                    <option value="#">Registered social landlord/housing association</option>
                    <option value="#">Charity</option>
                    <option value="#">Commercial retailer/trader</option>
                    <option value="#">Insurance company</option>
                    <option value="1c-option1-other.html">Other</option>
            </select>
        </div>
      
        <div class="govuk-form-group" style="margin-bottom:15px;width: 100%;">
            <button class="govuk-button" type="submit" formaction="index-1">Continue</button>
        </div>




<div>
               <div class="govuk-form-group">
                <label class="govuk-label" for="address-line-1">
                  Building and street
                </label>
                <input class="govuk-input" id="address-line-1" name="address-line-1" type="text" autocomplete="address-line1" value="88 Victoria Road" style="width: 300px;">        


                <div class="govuk-form-group">
                <label class="govuk-label" for="address-town">
                  Town or city
                </label>
                <input class="govuk-input" id="address-town" name="address-town" type="text" autocomplete="address-level2" value="{{ data['address-town'] }}" style="width: 300px;">
                </div>

                <div class="govuk-form-group">
                <label class="govuk-label" for="address-county">
                  County
                </label>
                <input class="govuk-input" id="address-county" name="address-county" type="text"value="{{ data['address-county'] }}" style="width: 300px;">
                </div>
        
                <div class="govuk-form-group">
                <label class="govuk-label" for="postcode">
                  Postcode
                </label>
                <input class="govuk-input" id="postcode" name="postcode2" type="text" autocomplete="postal-code" value="{{ data['postcode2'] }}" style="width: 300px;">
                </div>                

                <div class="govuk-form-group">
                <label class="govuk-label" for="dx-address2">
                    DX address (optional)
                  </label>
                  <input class="govuk-input" id="dx-address2" name="dx-address2" type="text" value="{{ data['dx-address2'] }}" style="width: 300px;margin-bottom:20px;">
                </div>
              </div>


</div>












</form>
</div>


<style>
.govuk-body-m, .govuk-body, p {
    margin-bottom: 30px;
}

.govuk-heading-xl {
    margin-bottom: 30px;
}

.govuk-heading-l {
    margin-bottom: 20px;
}



</style>


{% endblock %}
