{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row govuk-body">
    <div class=" govuk-grid-column-full govuk-!-padding-bottom-5" style="max-width: 890px;">

     <form action="2d" method="post" class="form">
      <h1 class="govuk-heading-xl">
        Administrator's details
      </h1>

      <p>Your administrator will create and manage accounts for your organisations authorised users.</p>



        <div style="display: inline-block;">
            <div class="govuk-form-group">
                <label class="govuk-label" for="administrator2-first-name">
                First / Given name(s)
                </label>
                <input class="govuk-input" id="administrator2-first-name" name="administrator2-first-name" value="{{ data['administrator2-first-name'] }}" type="text" style="width: 300px;">
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="administrator2-family-name">
                    Surname / Family name
                </label>
                <input class="govuk-input" id="administrator2-family-name" name="administrator2-family-name" value="{{ data['administrator2-family-name'] }}" type="text" style="width: 300px;">
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="administrator2-email">
                Email address
                </label>
                <input class="govuk-input" id="administrator2-email" name="administrator2-email" value="{{ data['administrator2-email'] }}" spellcheck="false" aria-describedby="email-hint" autocomplete="email" style="width: 300px;">
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="administrator2-telephone-number">
                    UK telephone number
                </label>
                <input class="govuk-input" id="administrator2-telephone-number" name="administrator2-telephone-number" value="{{ data['administrator2-telephone-number'] }}" type="tel" autocomplete="tel" style="width: 300px;">
            </div>

        </div>

        <hr>

        <div style="display: inline-block;">
            <h2 class="govuk-heading-l">
                Is the additional administrator's address the same as the organisation address?
            </h2>


            <p>The additional administrator address is the business address at which the additional administrator is based.</p>
            <div class="govuk-inset-text">
            <h3 class="govuk-heading-s" style="margin-bottom: 5px;">
                Organisation address:
            </h3>
            
            <ul style="list-style-type: none;padding-inline-start: 0px;margin-top:0px;">
                <li>{{ data['organisation-address-line-1'] }}</li>
                <li>{{ data['organisation-address-town'] }}</li>
                <li>{{ data['organisation-address-county'] }}</li>
                <li>{{ data['organisation-postcode'] }}</li>
            </ul>
            </div>

            <div class="govuk-form-group" style="float:unset;">
                <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                       <div class="govuk-radios govuk-radios--inline">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
                      <label class="govuk-label govuk-radios__label" for="changed-name">
                        Yes
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
                      <label class="govuk-label govuk-radios__label" for="changed-name-2">
                        No
                      </label>
                    </div>
                  </div>
              
                </fieldset>
              </div>

        </div>


        <hr>

        <div style="display: inline-block;">
            <h2 class="govuk-heading-l">
                How does the primary administrator want to receive their security credentials?
              </h2>
             

              <div class="govuk-form-group" style="float:unset;margin-bottom:50px;">
                <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                       <div class="govuk-radios govuk-radios--inline">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="credential-email" name="credentials" type="radio" value="credential-email">
                      <label class="govuk-label govuk-radios__label" for="credential-email">
                        Email
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="credential-post" name="credentials" type="radio" value="credential-post">
                      <label class="govuk-label govuk-radios__label" for="credential-post">
                        Post
                      </label>
                    </div>
                  </div>
              
                </fieldset>
              </div>


        </div>

        <div>
            <button class="govuk-button" type="submit">Continue</button>
        </div>
    </form>


    </div>



</div>


<script type="text/javascript">
    <!--
        function toggle_visibility(id) {
           var e = document.getElementById(id);
           if(e.style.display == 'block')
              e.style.display = 'none';
           else
              e.style.display = 'block';
        }
    //-->
    </script>


<style>

    .govuk-button-group {
        margin-right: -15px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
        display: flex;
    }

    .govuk-button-group .govuk-button, .govuk-button-group .govuk-link {
    margin-right: 15px;
}

.govuk-button-group .govuk-link {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1;
}
.govuk-form-group {
    float:left;
    margin-right:40px;
}

.govuk-summary-list__key, .govuk-summary-list__value, .govuk-summary-list__actions {
    border-bottom: 0px solid #b1b4b6;
}

.govuk-body-m, .govuk-body, p {
    margin-bottom: 30px;
}

.govuk-heading-xl {
    margin-bottom: 30px;
}

.govuk-heading-l {
    margin-bottom: 20px;
}

p + .govuk-heading-s {
    padding-top:0px;
}

hr {
    margin-top: 30px;
    margin-bottom: 50px;
}

.govuk-radios__item {
margin-bottom:0px;
}
    </style>


{% endblock %}
