{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit 
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class=" govuk-grid-column-full govuk-!-padding-bottom-5" style="max-width: 830px;">
  

      <h1 class="govuk-heading-xl" style="">
        Would you like to be contacted about future products and services?
      </h1>


      <form method="post" class="form">


        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
            <div class="govuk-radios govuk-radios--inline">
         <div class="govuk-radios__item">
           <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
           <label class="govuk-label govuk-radios__label" for="changed-name">
             Yes
           </label>
         </div>
         <div class="govuk-radios__item">
           <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
           <label class="govuk-label govuk-radios__label" for="changed-name-2">
             No
           </label>
         </div>
       </div>

     </fieldset>
          </div>


          <div class="content2" style="display:none;padding-top: 30px;padding-bottom: 30px;width:800px;">

            <div class="govuk-form-group" style="width:800px;">
              <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    How would you prefer to be contacted?
                  </h1>
                </legend>
                <div id="contact-hint" class="govuk-hint">
                  Select one option.
                </div>
                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                    <label class="govuk-label govuk-radios__label" for="contact">
                      Email
                    </label>
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="contact-by-email">
                        Your organisation's email address will be used
                      </label>
</div>
            
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
                    <label class="govuk-label govuk-radios__label" for="contact-2">
                      Post
                    </label>
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="contact-by-phone">
                        Your organisation's postal address will be used
                      </label></div>
            
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="contact-3" name="contact" type="radio" value="text" data-aria-controls="conditional-contact-3">
                    <label class="govuk-label govuk-radios__label" for="contact-3">
                      Telephone call
                    </label>
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-3">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="contact-by-text">
                        Your organisation's telephone number will be used
                      </label>
                      </div>
            
                  </div>
   
                </div>
            
              </fieldset>
            </div>
      
          </div>

        <p class="govuk-body" style="max-width: 790px;"> <b>Data protection and privacy statement</b><br>HM Land Registry will use the data supplied to update you or your organisation on our services. We will not sell your details to any third parties. If you would like further information on our privacy policy please refer to our <a href=" https://www.gov.uk/government/organisations/land-registry">website</a>.</p>


        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                How do I opt out at a later date?
              </span>
            </summary>
            <div class="govuk-details__text">
                Should you wish to opt out of receiving further information from HM Land Registry in the future you may do so in writing to:<br><br>HM Land Registry Data Team<br>HM Land Registry<br>Trafalgar House<br>1 Bedford Park<br>Croydon CR0 2AQ<br><br>or alternatively email: DataPublication@landregistry.gov.uk
            </div>
          </details>



        <div class="govuk-form-group" style="margin-bottom:15px;width: 100%;">
            <button class="govuk-button" type="submit" formaction="index-1">Continue</button>
        </div>




</form>
</div>

<script type="text/javascript">
  <!--
      function toggle_visibility(id) {
         var e = document.getElementById(id);
         if(e.style.display == 'block')
            e.style.display = 'none';
         else
            e.style.display = 'block';
      }
  //-->


  $('input[type="radio"]').click(function(){
      if($(this).attr("value")=="no"){
          $(".content2").hide('display');
      }
      if($(this).attr("value")=="yes"){
          $(".content2").show('display');

      }
  });


  </script>

<style>
.govuk-body-m, .govuk-body, p {
    margin-bottom: 30px;
}

.govuk-heading-xl {
    margin-bottom: 30px;
}

.govuk-heading-l {
    margin-bottom: 20px;
}



</style>


{% endblock %}
