
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full govuk-!-padding-bottom-3">
      
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">How to update property records when someone has died</h1>

        <form class="form" action="bereavement-start-option2-choice" method="post">

        <div class="govuk-form-group govuk-!-margin-bottom-8">
            <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h3 class="govuk-heading-m" style="margin-bottom: 0;">
                  Was the person who died a joint owner of the land or property?
              </h3>
              </legend>
              <div id="changed-name-hint" class="govuk-hint" style="margin-top: -10px; margin-bottom: 25px;">
                Joint owner defintiion goes here...
              </div>
              <div class="govuk-radios govuk-radios--inline">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="bereavement-option2-choice-1" name="bereavement-start-option2-choice" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="bereavement-option2-choice-1">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="bereavement-option2-choice-2" name="bereavement-start-option2-choice" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="bereavement-option2-choice-2">
                    No
                  </label>
                </div>
              </div>
          
            </fieldset>
        </div>

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Next step
        </button>
  
        </form>
    </div>

  </div>

{% endblock %}
