
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-padding-bottom-8">
  

      <h1 class="govuk-heading-xl">
        How to update property records when someone has died
      </h1>
      <div class="govuk-inset-text govuk-!-margin-bottom-8" style="margin-right: 100px; background-color: #f5f5f5;">
        You may need to <a style="font-weight:600;" href="https://help.landregistry.gov.uk/app/answers/detail/a_id/32" target="_blank">register a property after the sole owner has died and register yourself as a personal representative</a>.
      </div>

         <h3 class="govuk-heading-m govuk-!-padding-top-4 govuk-!-margin-bottom-2">
          We recommend this action because:
</h3>
<ul class='govuk-body'>
    <li>the land or property of the person who died is not registered with us</li>
    <li>the person who died was not a joint owner of the land or property</li>
    <li>you do not want to transfer/assent or sell the land or property of the person who died</li>
    <li>the transfer is not to a beneficiary of the person who died</li>
    <li>you do not want to transfer the land or property</li>
</ul>
</div>

<div class="govuk-grid-column-full govuk-!-padding-bottom-3">
    <form class="form" action="bereavement-start-option2-option2-option2-option2-choice" method="post">

    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
          <div id="changed-name-hint" class="govuk-hint">
            Having reviewed this information, do you still have a query?
          </div>
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="bereavement-start-option2-option2-option2-option2-choice-1" name="bereavement-start-option2-option2-option2-option2-choice" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="bereavement-start-option2-option2-option2-option2-choice-1">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="bereavement-start-option2-option2-option2-option2-choice-2" name="bereavement-start-option2-option2-option2-option2-choice" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="bereavement-start-option2-option2-option2-option2-choice-2">
                No
              </label>
            </div>
          </div>
      
        </fieldset>
    </div>

    <button type="submit" class="govuk-button" data-module="govuk-button">
      Next step
    </button>

    </form>
</div>
</div>

{% endblock %}
