
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-padding-bottom-8">
  

      <h1 class="govuk-heading-xl">
        How to update property records when someone has died
      </h1>
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">
        Please consult the following information:
    </h3>

      <p>
         <a href="https://help.landregistry.gov.uk/app/answers/detail/a_id/154" target="_blank">Transfer unregistered land or property to the surviving owner and a beneficiary</a></p>
        

         <h3 class="govuk-heading-m govuk-!-padding-top-4 govuk-!-margin-bottom-2">
    How did we arrive at this recommendation?
</h3>
<ul class='govuk-body'>
    <li>The land or property of the person who died is not registered with us.</li>
    <li>You do not want to transfer/assent or sell the land or property of the person who died.</li>
    <li>The transfer is to a beneficiary of the person who died.</li>
    <li>The person who died was a joint owner of the land or property.</li>
    <li>The surviving owner wants to transfer the land or property.</li>
</ul>
</div>

<div class="govuk-grid-column-full govuk-!-padding-bottom-3">
    <form class="form" action="bereavement-start-option2-option1-option1-option1-choice" method="post">

    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
          <div id="changed-name-hint" class="govuk-hint">
            Having reviewed this information, do you still have a query?
          </div>
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="bereavement-start-option2-option1-option1-option1-choice-1" name="bereavement-start-option2-option1-option1-option1-choice" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="bereavement-start-option2-option1-option1-option1-choice-1">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="bereavement-start-option2-option1-option1-option1-choice-2" name="bereavement-start-option2-option1-option1-option1-choice" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="bereavement-start-option2-option1-option1-option1-choice-2">
                No
              </label>
            </div>
          </div>
      
        </fieldset>
    </div>

    <button type="submit" class="govuk-button" data-module="govuk-button">
      Next step
    </button>

    </form>
</div>
</div>

{% endblock %}
