{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class=" govuk-grid-column-full govuk-!-padding-bottom-5" style="max-width:860px;">


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">
        Check your answers before sending your application
      </h1>


      <table class="govuk-table">

        <div  class="govuk-!-margin-bottom-9">
          <h3 class="govuk-heading-l">Organisation's details
          </h3>
          <button style="float: right;margin-top: -45px; margin-bottom: 0;" class="govuk-button govuk-button--secondary" data-module="govuk-button" onclick="window.print();return false;"/>
              Print summary
            </button>
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Name
              </dt>
              <dd class="govuk-summary-list__value"> <input class="govuk-input" id="organisationsName" name="organisationsName" value="{{ data['organisationsName'] }}"  type="text">
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="22">
                  Update<span class="govuk-visually-hidden"> name</span>
                </a>
              </dd>
            </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Trading name
            </dt>
            <dd class="govuk-summary-list__value"> {{ data['tradingname'] }}
              {% for feature in data['tradingname'] %}
               {% else %}
                 User Research Ltd
               {% endfor %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="19b">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Company number
            </dt>
            <dd class="govuk-summary-list__value"> {{ data['companynumber'] }}
              {% for feature in data['companynumber'] %}
               {% else %}
                 User Research Ltd
               {% endfor %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="19c">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Organisation's address
          </dt>
          <dd class="govuk-summary-list__value">
            <ul style="list-style-type: none;padding-inline-start: 0px;margin-top:0px;">
              <li>{{ data['address-line-1'] }}</li>
              <li>{{ data['address-town'] }}</li>
              <li>{{ data['address-country'] }}</li>
              <li>{{ data['postcode'] }}</li>

            </ul>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="">
              Change<span class="govuk-visually-hidden"> address</span>
            </a>
          </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                DX Address
            </dt>
            <dd class="govuk-summary-list__value">
              <ul style="list-style-type: none;padding-inline-start: 0px;margin-top:0px;">
                <li style="margin-top:10px;">DX number: {{ data['dx-number'] }}
                  {% for feature in data['dx-number'] %}
                   {% else %}
                     not provided
                   {% endfor %}</li>
                   <li style="margin-top:10px;">DX exchange: {{ data['dx-exchange'] }}
                    {% for feature in data['dx-exchange'] %}
                     {% else %}
                       not provided
                     {% endfor %}</li>
              </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Contact details
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">{{ data['telephone-number'] }}</p>
              <p class="govuk-body">{{ data['email'] }}</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="19e">
                Change<span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>
          </dl>
        </div>
        </table>

      <div class="govuk-!-margin-bottom-9">

        <table class="govuk-table">

          <h3 class="govuk-heading-l">New responsible person's details
          </h3>
  
          <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Name
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['new-responsible-first-name'] }} {{ data['new-responsible-family-name'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="">
                  Change<span class="govuk-visually-hidden"> name</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                New responsible person's address
            </dt>
            <dd class="govuk-summary-list__value">
              <ul style="list-style-type: none;padding-inline-start: 0px;margin-top:0px;">
                <li>{{ data['new-responsible-address-line-1'] }}</li>
                <li>{{ data['new-responsible-address-town'] }}</li>
                <li>{{ data['new-responsible-address-country'] }}</li>
                <li>{{ data['new-responsible-postcode'] }}</li>
              </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
            </div>
  
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  DX Address
              </dt>
              <dd class="govuk-summary-list__value">
                <ul style="list-style-type: none;padding-inline-start: 0px;margin-top:0px;">
                  <li style="margin-top:10px;">DX number: {{ data['new-responsible-dx-number'] }}
                    {% for feature in data['new-responsible-dx-number'] %}
                     {% else %}
                       not provided
                     {% endfor %}</li>
                     <li style="margin-top:10px;">DX exchange: {{ data['new-responsible-dx-exchange'] }}
                      {% for feature in data['new-responsible-dx-exchange'] %}
                       {% else %}
                         not provided
                       {% endfor %}</li>
                </ul>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> address</span>
                </a>
              </dd>
            </div>
  
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Contact details
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">{{ data['new-responsible-telephone-number'] }}</p>
                <p class="govuk-body">{{ data['new-responsible-email'] }}</p>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="">
                  Change<span class="govuk-visually-hidden"> contact details</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Receive security credentials by
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">{{ data['new-responsible-receive-type'] }}</p>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="">
                  Change<span class="govuk-visually-hidden"> delivery</span>
                </a>
              </dd>
            </div>
            </table>

          <table class="govuk-table">

          <h3 class="govuk-heading-l">Point-of-contact
          </h3>

          <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Name
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['poc-first-name'] }} {{ data['poc-family-name'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="19j">
                  Change<span class="govuk-visually-hidden"> name</span>
                </a>
              </dd>
            </div>

            </table>

            <table class="govuk-table">
          <div class="govuk-!-margin-bottom-8 govuk-body">
            <h3 class="govuk-heading-l" >Access to Network Services
            </h3>
            <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Network Access Agreement
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">{{ data['lender-services'] }}
               {% for feature in data['lender-services'] %}
                {% else %}
                  <p>Complete</p>
                {% endfor %}

              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="19k">
                  Change<span class="govuk-visually-hidden"> delivery</span>
                </a>
              </dd>
            </div>
          </div>
            </table>



        <!-- <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Responsible person's address
        </dt>
        <dd class="govuk-summary-list__value">
          <ul style="list-style-type: none;padding-inline-start: 0px;margin-top:0px;">
            <li>{{ data['address-line-1'] }}</li>
            <li>{{ data['address-town'] }}</li>
            <li>{{ data['address-county'] }}</li>
            <li>{{ data['postcode'] }}</li>
            <li style="margin-top:10px;">DX: {{ data['dx-address'] }}
              {% for feature in data['dx-address'] %}
               {% else %}
                 not provided
               {% endfor %}</li>
          </ul>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="10c">
            Change<span class="govuk-visually-hidden"> address</span>
          </a>
        </dd>
        </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Contact details
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">{{ data['telephone-number'] }}</p>
          <p class="govuk-body">{{ data['email'] }}</p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="10d">
            Change<span class="govuk-visually-hidden"> contact details</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Receive security credentials by
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">{{ data['receive-type'] }}</p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="10e">
            Change<span class="govuk-visually-hidden"> delivery</span>
          </a>
        </dd>
      </div>
      </table>

      <table class="govuk-table">
    <div class="govuk-!-margin-bottom-8 govuk-body">
      <h3 class="govuk-heading-l" >Application signature
      </h3>
      <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Signature uploaded
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">{{ data['uploaded-signature'] }}
         {% for feature in data['uploaded-signature'] %}
          {% else %}
            <p>No</p>
          {% endfor %}

        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="10f">
            Change<span class="govuk-visually-hidden"> delivery</span>
          </a>
        </dd>
      </div>
    </div>
      </table> -->



















      <h3 class="govuk-heading-l govuk-!-margin-bottom-3">Send your application</h3>
      <p class="govuk-body govuk-!-margin-bottom-6">
        By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.
      </p>


      <div class=" govuk-grid-column-full" style="padding:0px 0px 0px 0px;">
        <button class="govuk-button" data-module="govuk-button" data-module="govuk-button" onclick="window.location.href='23.html'">
            Accept and send
        </button>
      </div>

    </div>

  </div>

  <style>

    .govuk-summary-list__value > p {
        margin-bottom: 0;
    }

    .govuk-summary-list__key, .govuk-summary-list__value, .govuk-summary-list__actions {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    </style>

{% endblock %}
