{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class=" govuk-grid-column-full govuk-!-padding-bottom-5">


      <h1 class="govuk-heading-xl" style="max-width: 725px;">
        New responsible person
      </h1>

        <div class="govuk-warning-text" style="max-width: 780px;">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-warning-text__assistive">Warning</span>
              You need to assign a new responsible person for your organisation who will supervise the adminstrators of the system.
            </strong>
          </div>

        <div class="govuk-body govuk-!-margin-bottom-8">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-3">The responsible person will:</h3>

            <ul class="govuk-body">
              <li>supervise the administrators</li>
              <li>get access to reports documenting the activities of the administrators</li>
              <li>access VDD account data</li>
          </ul>

      </div>

            <form method="post" class="form">
              <div style="">

                <div class="govuk-form-group">
      
                  <div style="margin-right:15px; float:left;">
                  <label class="govuk-label" for="first-name">
                    Title
                    </label> 
                  <select class="govuk-select" style="max-width:150px;"onchange="location = this.value;">
                    <option value="#"></option>
                    <option value="#">Dr</option>
                    <option value="#">Mr</option>
                    <option value="#">Miss</option>
                    <option value="#">Mrs</option>
                    <option value="#">Prof</option>
                    <option value="#">Sir</option>
                    <option value="#">Lord</option>
                    <option value="#">Lady</option>
                    <option value="1-other.html">Other</option>
                  </select>
                </div>
      
                <div style=" float:left;">
                    <label class="govuk-label" for="new-responsible-first-name">
                    First/Given names
                    </label> 
                    <input class="govuk-input" id="new-responsible-first-name" name="new-responsible-first-name" value="{{ data['new-responsible-first-name'] }}" type="text" style="width: 200px;">
                  </div>
      
      
                </div>
      
                  <div class="govuk-form-group">
                      <label class="govuk-label" for="new-responsible-family-name">
                          Surname/Family name
                      </label>
                      <input class="govuk-input" id="new-responsible-family-name" name="new-responsible-family-name" value="{{ data['new-responsible-family-name'] }}" type="text" style="width: 300px;">
                  </div>

                  <div class="govuk-form-group">
                    <div class="govuk-grid-column-full govuk-!-padding-bottom-5" style="margin-left: -16px">
                      <label class="govuk-label" for="last-name" style="max-width: 300px;">
                          Role
                      </label>
                      <input class="govuk-input" id="new-responsible-role" name="new-responsible-role" value="{{ data['new-responsible-role'] }}" type="text" style="width: 300px;">
                  </div>


                  <div class="govuk-form-group">

                      <label class="govuk-label" for="new-responsible-email">
                      Email address
                      </label>
                      <input class="govuk-input" id="new-responsible-email" name="new-responsible-email" value="{{ data['new-responsible-email'] }}" spellcheck="false" aria-describedby="email-hint" autocomplete="email" style="width: 300px;">
                  </div>

                  <div class="govuk-form-group">
                      <label class="govuk-label" for="new-responsible-telephone-number">
                          Telephone number
                      </label>
                      <input class="govuk-input" id="new-responsible-telephone-number" name="new-responsible-telephone-number" value="{{ data['new-responsible-telephone-number'] }}" type="tel" autocomplete="tel" style="width: 300px;">
                  </div>






                  <div class="govuk-form-group">
                    <label class="govuk-label" for="new-responsible-address-line-1">
                      Building and street
                    </label>
                    <input class="govuk-input" id="new-responsible-address-line-1" name="new-responsible-address-line-1" type="text" autocomplete="address-line1" value="{{ data['new-responsible-address-line-1'] }}" style="width: 300px;">
                  </div>
      
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="new-responsible-address-town">
                      Town or city
                    </label>
                    <input class="govuk-input" id="new-responsible-address-town" name="new-responsible-address-town" type="text" autocomplete="address-level2" value="{{ data['new-responsible-address-town'] }}" style="width: 300px;">
                  </div>
      
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="new-responsible-address-country">
                      Country
                    </label>
                    <input class="govuk-input" id="new-responsible-address-country" name="new-responsible-address-country" type="text"value="{{ data['new-responsible-address-country'] }}" style="width: 300px;">
                  </div>
      
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="new-responsible-postcode">
                      Postcode
                    </label>
                    <input class="govuk-input" id="new-responsible-postcode" name="new-responsible-postcode" type="text" autocomplete="postal-code" value="{{ data['new-responsible-postcode'] }}" style="width: 300px;">
                  </div>
      
      
                <div class="govuk-form-group">
                    <label class="govuk-label" for="new-responsible-number">
                        DX number (optional)
                    </label>
                    <input class="govuk-input" id="new-responsible-dx-number" name="new-responsible-dx-number" type="text" value="{{ data['new-responsible-dx-number'] }}" style="width: 300px; margin-bottom: 20px;">
                </div>
      
                <div class="govuk-form-group">
                  <label class="govuk-label" for="new-responsible-dx-exchange">
                      DX exchange (optional)
                  </label>
                  <input class="govuk-input" id="new-responsible-dx-exchange" name="new-responsible-dx-exchange" type="text" value="{{ data['new-responsible-dx-exchange'] }}" style="width: 300px; margin-bottom: 20px;">
              </div>
      


            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">
                <hr>
        
              </div>
            </div>
        
                <div class="govuk-!-padding-bottom-6"></div>


              <div style="display: inline-block; max-width: 890px;">
                <h2 class="govuk-heading-l">
                    How does the responsible person want to receive their security credentials?
                  </h2>
    
    
                  <div class="govuk-form-group" style="float:unset;margin-bottom:50px;">
                    <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                      <div class="govuk-radios govuk-radios--inline">
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="new-responsible-receive-type-email" name="new-responsible-receive-type" type="radio" value="Email" {{ checked("new-responsible-receive-type", "Email") }}>
                          <label class="govuk-label govuk-radios__label" for="new-responsible-receive-type-email">
                            Email
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="new-responsible-receive-type-post" name="new-responsible-receive-type" type="radio" value="Post" {{ checked("new-responsible-receive-type", "Post") }}>
                          <label class="govuk-label govuk-radios__label" for="new-responsible-receive-type-post">
                            Post
                          </label>
                        </div>
                      </div>
    
                    </fieldset>
                  </div>
    
    
         

      
      
              <div class="govuk-form-group" style="margin-bottom:15px;width: 100%;">
                <button class="govuk-button" type="submit" formaction="10">Continue</button>
            </div>
      




              </div>
          </form>


          </div>



      </div>


      <script type="text/javascript">
      function showHide(d)
      {
      var onediv = document.getElementById(d);
      var divs=['content1','content2'];
      for (var i=0;i<divs.length;i++)
        {
        if (onediv != document.getElementById(divs[i]))
          {
          document.getElementById(divs[i]).style.display='none';
          }
        }
      onediv.style.display = 'block';
      }
          </script>


      <style>

          .govuk-button-group {
              margin-right: -15px;
              -webkit-box-orient: horizontal;
              -webkit-box-direction: normal;
              -ms-flex-direction: row;
              flex-direction: row;
              -ms-flex-wrap: wrap;
              flex-wrap: wrap;
              -webkit-box-align: baseline;
              -ms-flex-align: baseline;
              align-items: baseline;
              display: flex;
          }

          .govuk-button-group .govuk-button, .govuk-button-group .govuk-link {
          margin-right: 15px;
      }

      .govuk-button-group .govuk-link {
          font-size: 19px;
          font-size: 1.1875rem;
          line-height: 1;
      }
      .govuk-form-group {
          float:left;
          margin-right:40px;
      }

      .govuk-summary-list__key, .govuk-summary-list__value, .govuk-summary-list__actions {
          border-bottom: 0px solid #b1b4b6;
      }
          </style>


      {% endblock %}
