{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class=" govuk-grid-column-full govuk-!-padding-bottom-5" style="max-width:860px;">


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">
        Check your answers before sending your application
      </h1>


      <table class="govuk-table">

        <div  class="govuk-!-margin-bottom-9">
          <h3 class="govuk-heading-l">Organisation's details
          </h3>
          <button style="float: right;margin-top: -60px; margin-bottom: 0;" class="govuk-button govuk-button--secondary" data-module="govuk-button" onclick="window.print();return false;"/>
              Print summary
            </button>
          <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value"> {{ data['organisationsName'] }}
              {% for feature in data['organisationsName'] %}
               {% else %}
                 User Research Ltd
               {% endfor %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="8a">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          </dl>
        </div>

        <div class="govuk-!-margin-bottom-9">
          <h3 class="govuk-heading-l">Deputy responsible person's details
          </h3>

      <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['first-name'] }} {{ data['family-name'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="8b">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Deputy responsible person's address
        </dt>
        <dd class="govuk-summary-list__value">
          <ul style="list-style-type: none;padding-inline-start: 0px;margin-top:0px;">
            <li>{{ data['address-line-1'] }}</li>
            <li>{{ data['address-town'] }}</li>
            <li>{{ data['address-county'] }}</li>

            <li>{{ data['postcode'] }}
              {% for feature in data['postcode'] %}
               {% else %}
               {{ data['postcode2'] }}
               {% endfor %}</li>

            <li style="margin-top:10px;">DX: {{ data['dx-address'] }}
              {% for feature in data['dx-address'] %}
               {% else %}
                 not provided
               {% endfor %}</li>
          </ul>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="8c">
            Change<span class="govuk-visually-hidden"> address</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Contact details
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">{{ data['telephone-number'] }}</p>
          <p class="govuk-body">{{ data['email'] }}</p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="8d">
            Change<span class="govuk-visually-hidden"> contact details</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Receive security credentials by
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">{{ data['receive-type'] }}</p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="8e">
            Change<span class="govuk-visually-hidden"> delivery</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Allow access to variable Direct Debit Key numbers
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">{{ data['VDD-contact'] }}</p>
          <p class="govuk-body">{{ data['VDD-Number'] }}</p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="8f">
            Change<span class="govuk-visually-hidden"> delivery</span>
          </a>
        </dd>
      </div>
    </div>


    <div class="govuk-!-margin-bottom-8 govuk-body">
      <h3 class="govuk-heading-l" >Sign your application
      </h3>
      <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Signature attached
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">{{ data['uploaded-signature'] }}
         {% for feature in data['uploaded-signature'] %}
          {% else %}
            <p>Yes</p>
          {% endfor %}



          </p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="8g">
            Change<span class="govuk-visually-hidden"> delivery</span>
          </a>
        </dd>
      </div>
    </div>
      </dl>

      </table>



















      <h3 class="govuk-heading-l govuk-!-margin-bottom-3">Submit application</h3>
      <p class="govuk-body govuk-!-margin-bottom-6">
        By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.
      </p>

<div class="govuk-!-padding-bottom-6"></div>

      <div class=" govuk-grid-column-full" style="padding:0px 0px 0px 0px;">
        <button class="govuk-button" data-module="govuk-button" data-module="govuk-button" onclick="window.location.href='9.html'">
            Confirm and send
        </button>
      </div>

    </div>

  </div>

  <style>

    .govuk-summary-list__value > p {
        margin-bottom: 0;
    }

    .govuk-summary-list__key, .govuk-summary-list__value, .govuk-summary-list__actions {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    </style>

{% endblock %}
