{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class=" govuk-grid-column-full govuk-!-padding-bottom-5" style="max-width:860px;">


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
        Apply for or update a <br>Business e-services account
      </h1>


        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-warning-text__assistive">Warning</span>
              Only a responsible person or deputy responsible person can submit this request.
            </strong>
          </div>

        <div class="govuk-body govuk-!-margin-bottom-8">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-3">The deputy responsible person will:</h3>

            <ul class="govuk-body">
              <li>supervise the administrators</li>
              <li>get access to reports documenting the activities of the administrators</li>
              <li>access VDD account data</li>
          </ul>

      </div>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
             Add a new deputy responsible person
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="1.html" aria-describedby="eligibility-status">
                    Add the new deputy responsible person's details
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="4.html" aria-describedby="eligibility-status">
                    Sign your application
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            </li>
          </ul>
        </li>
      </ol>


      <div class="govuk-!-margin-bottom-9">
        <button class="govuk-button" data-module="govuk-button" data-module="govuk-button" onclick="window.location.href='1.html'">
          Continue
        </button>
      </div>

    </div>

  </div>
  <style>
    .app-task-list__items {
      padding-left: 0px;
  }
  </style>
{% endblock %}
