
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit 
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="/index.html">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-padding-bottom-5">
  

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-9">
        How to change your name on property records
      </h1>


      <div class="govuk-inset-text govuk-!-margin-bottom-8" style="margin-right: 100px;">
        The majority of land and property in England and Wales is registered with HM Land Registry. The register is a legal record of who owns the land or property and is available to the public to view.
      </div>

      <div class="govuk-body govuk-!-margin-bottom-9">
            <h3 class="govuk-heading-m">Use this service to find out</h3>

            <ul class="govuk-body">
              <li>what forms you'll need to complete</li>
              <li>what documents you'll need to send</li>
          </ul>

      </div>




      <div class="govuk-body govuk-!-margin-bottom-6">
          <h3 class="govuk-heading-m">Before you start, you will need to know</h3>
          
          <ul class="govuk-body">  
              <li>if the property is registered with HM Land Registry</li>
              <li>whether the property is owned jointly or by one person</li>
          </ul>


          <p>You can <strong><a href="https://www.gov.uk/search-property-information-land-registry" target="_blank">search for information about a property</a></strong> from HM Land Registry.</p>

      </div>


      <div class="govuk-!-margin-bottom-9">
      <button class="govuk-button" data-module="govuk-button" data-module="govuk-button" onclick="window.location.href='page2.html'">
        Start now
      </button>
    </div>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" style="margin-top:7px;" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        We only register land and property in England and Wales.<br>
        We do not manage the registers for <a href="https://www.ros.gov.uk/our-registers/land-register-of-scotland" target="_blank">Scotland</a> and 
        <a href="https://www.finance-ni.gov.uk/articles/lps-registration-offices" target="_blank">Northern Ireland</a></strong>
    </div>


    </div>

  </div>

{% endblock %}
