{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl">
    How to change your name on property records
</h1>

<div class="govuk-grid-row">
   <div class="govuk-grid-column-full govuk-!-padding-bottom-3">
      <form class="form" action="boundarymatters-choice" method="post">
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
               
                <div>
                  <h3 class="govuk-heading-m">Is the property registered with HM Land Registry?</h3>
               </div>

               <div class="govuk-radios">
                  <div class="govuk-radios__item">
                     <input class="govuk-radios__input" name="boundary-matters-options" type="radio" value="content-1" id="content-1">
                     <label class="govuk-label govuk-radios__label" for="content-1">
                     Yes
                     </label>
                  </div>

                  <div class="govuk-radios__item">
                     <input class="govuk-radios__input" name="boundary-matters-options" type="radio" value="content-2" id="content-2">
                     <label class="govuk-label govuk-radios__label" for="content-2">
                     No
                     </label>
                  </div>
               </div>
            </fieldset>
        </div>
      </form>
    </div>
</div>

    <div class="govuk-grid-row content-1 contentbox">
        <div class="govuk-grid-column-full govuk-!-padding-bottom-3">
            <hr style="margin-bottom:25px;">
            <h3 class="govuk-heading-m">Why do you want you to update a property record?</h3>
            
            <details class="govuk-details" data-module="govuk-details" style="margin-bottom: 10px;">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Divorce or end of civil partnership
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <p>
                        You need to <b><a href="https://help.landregistry.gov.uk/app/answers/detail/a_id/214" target="_blank">change your name on the property register after divorce or the end of a civil partnership</a></b></p>
                </div>
            </details>
            
            <details class="govuk-details" data-module="govuk-details" style="margin-bottom: 10px;">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Marriage or civil partnership
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <p>
                        You need to <b><a href="https://help.landregistry.gov.uk/app/answers/detail/a_id/213" target="_blank">change your name on the property register after marriage or civil partnership</a></b>
                    </p>
                </div>
            </details>
               
            <details class="govuk-details" data-module="govuk-details" style="margin-bottom: 10px;">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Change of name by deed poll
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <p>
                        You need to <b><a href="https://help.landregistry.gov.uk/app/answers/detail/a_id/215" target="_blank">update the property register after a change of name by deed poll</a></b>
                    </p>
                </div>
            </details>         
               
            <details class="govuk-details" data-module="govuk-details" style="margin-bottom: 10px;">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Correct a spelling error
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <p>
                        You need to <b><a href="https://help.landregistry.gov.uk/app/answers/detail/a_id/216" target="_blank">update your name on the property register to correct a spelling error</a></b>
                    </p>
                </div>
            </details>  
               
            <details class="govuk-details" data-module="govuk-details" style="margin-bottom: 10px;">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Gender change
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <p>
                        You need to <b><a href="https://help.landregistry.gov.uk/app/answers/detail/a_id/217" target="_blank">update your name on the property register after changing gender</a></b>
                    </p>
                </div>
            </details> 
               
            <details class="govuk-details" data-module="govuk-details" style="margin-bottom: 10px;">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        To match passport or driving licence
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <p>
                        You need to <b><a href="https://help.landregistry.gov.uk/app/answers/detail/a_id/218" target="_blank">change your name on the property register to match your passport or driver’s licence</a></b>
                    </p>
                </div>
            </details> 
               
            <details class="govuk-details" data-module="govuk-details" style="margin-bottom: 10px;">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Ownership has changed
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <p>
                        You need to <b><a href="https://help.landregistry.gov.uk/app/answers/detail/a_id/228" target="_blank">change the name on the property register to the new owner’s name</a></b>
                    </p>
                </div>
            </details> 





        </div>
    </div>


    <div class=" govuk-grid-row content-2 contentbox">
        <div class="govuk-grid-column-full govuk-!-padding-bottom-3">

            <hr class="govuk-!-margin-bottom-8">
            <div class="govuk-inset-text govuk-!-margin-bottom-4 recommendedBox">
               <h1 class="recommendedBoxTitle">
                  We recommend that you visit
               </h1>
               <a class="recommendedBoxLink" href="https://help.landregistry.gov.uk/app/answers/detail/a_id/227" target="_blank">
                Change the owner’s name or address on an unregistered property
               </a>
            </div>

        </div>
    </div>


    <script type="text/javascript"> 
        $(document).ready(function() { 
            $('input[type="radio"]').click(function() { 
                var inputValue = $(this).attr("value"); 
                var targetBox = $("." + inputValue); 
                $(".contentbox").not(targetBox).hide(); 
                $(targetBox).show(); 
            }); 
        }); 

    </script> 

    <style type="text/css"> 
        .contentbox { 
            padding: 0px; 
            display: none;  
            width: 100%; 
        } 

    </style> 





{% endblock %}