{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class=" govuk-heading-xl">
            Bereavement Guide
        </h1>
    </div>
</div>

<div class="govuk-grid-row">
   <div class="govuk-grid-column-full">
      <form class="form" action="" method="post">
         <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
               <div>
                  <h3 class="govuk-heading-m">Is the land or property of the person who died, registered with HMLR?</h3>
               </div>
               <div class="govuk-radios" id="myRadioGroup">
                  <div class="govuk-radios__item">
                     <input class="govuk-radios__input" type="radio" name="question1" value="A" id="Q1A">
                     <label class="govuk-label govuk-radios__label" for="Q1A">
                     Yes
                     </label>
                  </div>
                  <div class="govuk-radios__item">
                     <input class="govuk-radios__input" type="radio" name="question1" value="B" id="Q1B">
                     <label class="govuk-label govuk-radios__label" for="Q1B">
                     No
                     </label>
                  </div>
               </div>
            </fieldset>
         </div>
      </form>
   </div>
</div>
<div class="govuk-grid-row desc" id="question1A">
   <div class="govuk-grid-column-full govuk-!-padding-bottom-3">
      <hr style="margin-bottom:25px;">
      <h3 class="govuk-heading-m" style="margin-bottom: 10px;">
        Do you want to transfer/assent or sell the land or property of the person who died?
      </h3>
      <div class="govuk-radios" id="myRadioGroup2">
         <div class="govuk-radios__item">
            <input class="govuk-radios__input" type="radio" name="question2" value="A" id="Q2A">
            <label class="govuk-label govuk-radios__label" for="Q2A">
            Yes
            </label>
         </div>
         <div class="govuk-radios__item">
            <input class="govuk-radios__input" type="radio" name="question2" value="B" id="Q2B">
            <label class="govuk-label govuk-radios__label" for="Q2B">
            No
            </label>
         </div>
         <div class="govuk-grid-row desc2" id="question2A">
            <div class="govuk-grid-column-full govuk-!-padding-bottom-3 govuk-!-padding-top-3">
               <hr style="margin-bottom:25px;">
               <h3 class="govuk-heading-m" style="margin-bottom: 10px;">
                Was the person who died a joint owner of the land or property?
               </h3>
               <div class="govuk-radios" id="myRadioGroup3">
                  <div class="govuk-radios__item">
                     <input class="govuk-radios__input" type="radio" name="question3" value="A" id="Q3A">
                     <label class="govuk-label govuk-radios__label" for="Q3A">
                     Yes
                     </label>
                  </div>
                  <div class="govuk-radios__item">
                     <input class="govuk-radios__input" type="radio" name="question3" value="B" id="Q3B">
                     <label class="govuk-label govuk-radios__label" for="Q3B">
                     No
                     </label>
                  </div>
                  <div class="govuk-grid-row desc3" id="question3A">
                     <div class="govuk-grid-column-full govuk-!-padding-bottom-3 govuk-!-padding-top-3">
                        <hr style="margin-bottom:25px;">
                        <h3 class="govuk-heading-m" style="margin-bottom: 10px;">
                            Is the transfer to a beneficiary of the person who died?
                        </h3>
                        <div class="govuk-radios" id="myRadioGroup3">
                           <div class="govuk-radios__item">
                              <input class="govuk-radios__input" type="radio" name="question4" value="A" id="Q4A">
                              <label class="govuk-label govuk-radios__label" for="Q4A">
                              Yes
                              </label>
                           </div>
                           <div class="govuk-radios__item">
                              <input class="govuk-radios__input" type="radio" name="question4" value="B" id="Q4B">
                              <label class="govuk-label govuk-radios__label" for="Q4B">
                              No
                              </label>
                           </div>
                           <div class="govuk-grid-row desc4" id="question4A">
                              <div class="govuk-grid-column-full govuk-!-padding-bottom-3 govuk-!-padding-top-3">
                                 <hr style="margin-bottom:25px;">
                                 <h3 class="govuk-heading-l" style="margin-bottom: 10px;margin-top: 40px;">Bereavement information</h3>
                                  <p>
                                    The article <b>Transfer land or property to the surviving owner and a beneficiary</b> from our knowledge base will help you:<br>
                                     <a href="https://help.landregistry.gov.uk/app/answers/detail/a_id/125" target="_blank">Click here to view it in a new window</a></p>
                                    
                            
                                     <h3 class="govuk-heading-s" style="margin-top: 30px;margin-bottom: 10px;">
                                How did we arrive at this recommendation?
                            </h3>
                            <ul class='govuk-body'>
                                <li>The land or property of the person who died is registered with us.</li>
                                <li>You want to transfer/assent or sell the land or property of the person who died.</li>
                                <li>The person who died was a joint owner of the land or property.</li>
                                <li>The transfer is to a beneficiary of the person who died.</li>
                            </ul>

                            <h3 class="govuk-heading-s" style="margin-top: 30px;margin-bottom: 15px;">
                                If you require further information:
                            </h3>
                            <button class="govuk-button" data-module="govuk-button" data-module="govuk-button" onclick="window.location.href='/UserResearch/GuidedAssistance/Bereavement/V3/form1.html'">
                                Contact us
                              </button>

                              </div>
                           </div>
                           <div class="govuk-grid-row desc4" id="question4B">
                              <div class="govuk-grid-column-full govuk-!-padding-bottom-3 govuk-!-padding-top-3">
                                 <hr style="margin-bottom:25px;">
                                 <h3 class="govuk-heading-l" style="margin-bottom: 10px;margin-top: 40px;">Bereavement information</h3>
                                  <p>
                                    The article <b>Transfer property ownership to a third party</b> from our knowledge base will help you:<br>
                                     <a href="https://help.landregistry.gov.uk/app/answers/detail/a_id/132" target="_blank">Click here to view it in a new window</a></p>
                                    
                            
                                     <h3 class="govuk-heading-s" style="margin-top: 30px;margin-bottom: 10px;">
                                How did we arrive at this recommendation?
                            </h3>
                            <ul class='govuk-body'>
                                <li>The transfer is not to a beneficiary of the person who died.</li>
                                <li>You want to transfer/assent or sell the land or property of the person who died.</li>
                                <li>The person who died was a joint owner of the land or property.</li>
                                <li>The land or property of the person who died is registered with us.</li>
                            </ul>

                            <h3 class="govuk-heading-s" style="margin-top: 30px;margin-bottom: 15px;">
                                If you require further information:
                            </h3>
                            <button class="govuk-button" data-module="govuk-button" data-module="govuk-button" onclick="window.location.href='/UserResearch/GuidedAssistance/Bereavement/V3/form1.html'">
                                Contact us
                              </button>

                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="govuk-grid-row desc3" id="question3B">
                     <div class="govuk-grid-column-full govuk-!-padding-bottom-3 govuk-!-padding-top-3">
                        <hr style="margin-bottom:25px;">
                        <h3 class="govuk-heading-m" style="margin-bottom: 10px;">
                            Is the transfer to a beneficiary of the person who died?
                        </h3>
                        <div class="govuk-radios" id="myRadioGroup5">
                           <div class="govuk-radios__item">
                              <input class="govuk-radios__input" type="radio" name="question5" value="A" id="Q5A">
                              <label class="govuk-label govuk-radios__label" for="Q5A">
                              Yes
                              </label>
                           </div>
                           <div class="govuk-radios__item">
                              <input class="govuk-radios__input" type="radio" name="question5" value="B" id="Q5B">
                              <label class="govuk-label govuk-radios__label" for="Q5B">
                              No
                              </label>
                           </div>
                           <div class="govuk-grid-row desc5" id="question5A">
                              <div class="govuk-grid-column-full govuk-!-padding-bottom-3 govuk-!-padding-top-3">
                                 <hr style="margin-bottom:25px;">
                                 <h3 class="govuk-heading-l" style="margin-bottom: 10px;margin-top: 40px;">Bereavement information</h3>
                                 <p>
                                    The article <b>Transfer property to the beneficiary after the sole owner has died</b> from our knowledge base will help you:<br>
                                     <a href="https://help.landregistry.gov.uk/app/answers/detail/a_id/27" target="_blank">Click here to view it in a new window</a></p>
                                    
                            
                                     <h3 class="govuk-heading-s" style="margin-top: 30px;margin-bottom: 10px;">
                                How did we arrive at this recommendation?
                            </h3>
                            <ul class='govuk-body'>
                                <li>The person who died was not a joint owner of the land or property.</li>
                                <li>The transfer is to a beneficiary of the person who died.</li>
                                <li>The land or property of the person who died is registered with us.</li>
                                <li>You want to transfer/assent or sell the land or property of the person who died.</li>
                            </ul>
                            
                            <h3 class="govuk-heading-s" style="margin-top: 30px;margin-bottom: 15px;">
                                If you require further information:
                            </h3>
                            <button class="govuk-button" data-module="govuk-button" data-module="govuk-button" onclick="window.location.href='/UserResearch/GuidedAssistance/Bereavement/V3/form1.html'">
                                Contact us
                              </button>

                            </div>
                              </div>
                           </div>
                           <div class="govuk-grid-row desc5" id="question5B">
                              <div class="govuk-grid-column-full govuk-!-padding-bottom-3 govuk-!-padding-top-3">
                                 <hr style="margin-bottom:25px;">
                                 <h3 class="govuk-heading-l" style="margin-bottom: 10px;margin-top: 40px;">Bereavement information</h3>
                                 <p>
                                    The article <b>Transfer property to a third party after the death of a sole owner</b> from our knowledge base will help you:<br>
                                     <a href="https://help.landregistry.gov.uk/app/answers/detail/a_id/25" target="_blank">Click here to view it in a new window</a></p>
                                    
                            
                                     <h3 class="govuk-heading-s" style="margin-top: 30px;margin-bottom: 10px;">
                                How did we arrive at this recommendation?
                            </h3>
                            <ul class='govuk-body'>
                                <li>The person who died was not a joint owner of the land or property.</li>
                                <li>The transfer is not to a beneficiary of the person who died.</li>
                                <li>The land or property of the person who died is registered with us.</li>
                                <li>You want to transfer/assent or sell the land or property of the person who died.</li>
                            </ul>
                            
                            <h3 class="govuk-heading-s" style="margin-top: 30px;margin-bottom: 15px;">
                                If you require further information:
                            </h3>
                            <button class="govuk-button" data-module="govuk-button" data-module="govuk-button" onclick="window.location.href='/UserResearch/GuidedAssistance/Bereavement/V3/form1.html'">
                                Contact us
                              </button>

                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="govuk-grid-row desc2" id="question2B">
            <div class="govuk-grid-column-full govuk-!-padding-bottom-3 govuk-!-padding-top-3">
               <hr style="margin-bottom:25px;">
               <h3 class="govuk-heading-m" style="margin-bottom: 10px;">
                Do you want to transfer/assent or sell the land or property of the person who died?
               </h3>
               <div class="govuk-radios" id="myRadioGroup6">
                  <div class="govuk-radios__item">
                     <input class="govuk-radios__input" type="radio" name="question6" value="A" id="Q6A">
                     <label class="govuk-label govuk-radios__label" for="Q6A">
                     Yes
                     </label>
                  </div>
                  <div class="govuk-radios__item">
                     <input class="govuk-radios__input" type="radio" name="question6" value="B" id="Q6B">
                     <label class="govuk-label govuk-radios__label" for="Q6B">
                     No
                     </label>
                  </div>
                  <div class="govuk-grid-row desc6" id="question6A">
                     <div class="govuk-grid-column-full govuk-!-padding-bottom-3 govuk-!-padding-top-3">
                        <hr style="margin-bottom:25px;">
                        <h3 class="govuk-heading-l" style="margin-bottom: 10px;margin-top: 40px;">Bereavement information</h3>
                        <p>
                            The article <b>Remove a deceased joint owner from the property record</b> from our knowledge base will help you:<br>
                             <a href="https://help.landregistry.gov.uk/app/answers/detail/a_id/29" target="_blank">Click here to view it in a new window</a></p>
                            
                    
                             <h3 class="govuk-heading-s" style="margin-top: 30px;margin-bottom: 10px;">
                        How did we arrive at this recommendation?
                    </h3>
                    <ul class='govuk-body'>
                        <li>You do not want to transfer/assent or sell the land or property of the person who died.</li>
                        <li>The person who died was a joint owner of the land or property.</li>
                        <li>The land or property of the person who died is registered with us.</li>
                    </ul>
                    
                    <h3 class="govuk-heading-s" style="margin-top: 30px;margin-bottom: 15px;">
                        If you require further information:
                    </h3>
                    <button class="govuk-button" data-module="govuk-button" data-module="govuk-button" onclick="window.location.href='/UserResearch/GuidedAssistance/Bereavement/V3/form1.html'">
                        Contact us
                      </button>

                     </div>
                  </div>
                  <div class="govuk-grid-row desc6" id="question6B">
                     <div class="govuk-grid-column-full govuk-!-padding-bottom-3 govuk-!-padding-top-3">
                        <hr style="margin-bottom:25px;">
                                <h3 class="govuk-heading-m" style="margin-bottom: 10px;">
                                    Are you the personal representative of the person who died?
                               </h3>
                               <div class="govuk-radios" id="myRadioGroup7">
                                  <div class="govuk-radios__item">
                                     <input class="govuk-radios__input" type="radio" name="question7" value="A" id="Q7A">
                                     <label class="govuk-label govuk-radios__label" for="Q7A">
                                     Yes
                                     </label>
                                  </div>
                                  <div class="govuk-radios__item">
                                     <input class="govuk-radios__input" type="radio" name="question7" value="B" id="Q7B">
                                     <label class="govuk-label govuk-radios__label" for="Q7B">
                                     No
                                     </label>
                                  </div>
                                  <div class="govuk-grid-row desc7" id="question7A">
                                     <div class="govuk-grid-column-full govuk-!-padding-bottom-3 govuk-!-padding-top-3">
                                        <hr style="margin-bottom:25px;">
                                        <h3 class="govuk-heading-l" style="margin-bottom: 10px;margin-top: 40px;">Bereavement information</h3>
                                        <p>
                                            The article <b>Register yourself as the personal representative after the death of a sole property owner</b> from our knowledge base will help you:<br>
                                             <a href="https://help.landregistry.gov.uk/app/answers/detail/a_id/24" target="_blank">Click here to view it in a new window</a></p>
                                            
                                    
                                             <h3 class="govuk-heading-s" style="margin-top: 30px;margin-bottom: 10px;">
                                        How did we arrive at this recommendation?
                                    </h3>
                                    <ul class='govuk-body'>
                                        <li>You do not want to transfer/assent or sell the land or property of the person who died.</li>
                                        <li>The person who died was not a joint owner of the land or property.</li>
                                        <li>The land or property of the person who died is registered with us.</li>
                                        <li>You are the personal representative of the person who died.</li>
                                    </ul>
                                    
                            <h3 class="govuk-heading-s" style="margin-top: 30px;margin-bottom: 15px;">
                                If you require further information:
                            </h3>
                            <button class="govuk-button" data-module="govuk-button" data-module="govuk-button" onclick="window.location.href='/UserResearch/GuidedAssistance/Bereavement/V3/form1.html'">
                                Contact us
                              </button>

                                     </div>
                                  </div>
                                  <div class="govuk-grid-row desc7" id="question7B">
                                     <div class="govuk-grid-column-full govuk-!-padding-bottom-3 govuk-!-padding-top-3">
                                        <hr style="margin-bottom:25px;">
                                        <h3 class="govuk-heading-l" style="margin-bottom: 10px;margin-top: 40px;">Bereavement information</h3>
                                        
                                        <p>
                                            The article <b>Report the death of a sole property owner</b> from our knowledge base will help you:<br>
                                             <a href="https://help.landregistry.gov.uk/app/answers/detail/a_id/26" target="_blank">Click here to view it in a new window</a></p>
                                            
                                             <h3 class="govuk-heading-s" style="margin-top: 30px;margin-bottom: 10px;">
                                        How did we arrive at this recommendation?
                                    </h3>
                                    <ul class='govuk-body'>
                                        <li>You do not want to transfer/assent or sell the land or property of the person who died.</li>
                                        <li>The person who died was not a joint owner of the land or property.</li>
                                        <li>You are not the personal representative of the person who died.</li>
                                        <li>The land or property of the person who died is registered with us.</li>
                                    </ul>

                                    <h3 class="govuk-heading-s" style="margin-top: 30px;margin-bottom: 15px;">
                                        If you require further information:
                                    </h3>
                                    <button class="govuk-button" data-module="govuk-button" data-module="govuk-button" onclick="window.location.href='/UserResearch/GuidedAssistance/Bereavement/V3/form1.html'">
                                        Contact us
                                      </button>
        
                                     </div>
                                  </div>
                               </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>




   <div class="govuk-grid-row desc" id="question1B">
    <div class="govuk-grid-column-full govuk-!-padding-bottom-3">
       <hr style="margin-bottom:25px;">
       <h3 class="govuk-heading-m" style="margin-bottom: 10px;">
        Was the person who died a joint owner of the land or property?
       </h3>
       <div class="govuk-radios" id="myRadioGroup8">
          <div class="govuk-radios__item">
             <input class="govuk-radios__input" type="radio" name="question8" value="A" id="Q8A">
             <label class="govuk-label govuk-radios__label" for="Q8A">
             Yes
             </label>
          </div>
          <div class="govuk-radios__item">
             <input class="govuk-radios__input" type="radio" name="question8" value="B" id="Q8B">
             <label class="govuk-label govuk-radios__label" for="Q8B">
             No
             </label>
          </div>
          <div class="govuk-grid-row desc2" id="question8A">
             <div class="govuk-grid-column-full govuk-!-padding-bottom-3 govuk-!-padding-top-3">
                <hr style="margin-bottom:25px;">
                <h3 class="govuk-heading-m" style="margin-bottom: 10px;">
                    Is the transfer to a beneficiary of the person who died?
                </h3>
                <div class="govuk-radios" id="myRadioGroup9">
                   <div class="govuk-radios__item">
                      <input class="govuk-radios__input" type="radio" name="question9" value="A" id="Q9A">
                      <label class="govuk-label govuk-radios__label" for="Q9A">
                      Yes
                      </label>
                   </div>
                   <div class="govuk-radios__item">
                      <input class="govuk-radios__input" type="radio" name="question9" value="B" id="Q9B">
                      <label class="govuk-label govuk-radios__label" for="Q9B">
                      No
                      </label>
                   </div>
                   <div class="govuk-grid-row desc3" id="question9A">
                      <div class="govuk-grid-column-full govuk-!-padding-bottom-3 govuk-!-padding-top-3">
                         <hr style="margin-bottom:25px;">
                         <h3 class="govuk-heading-m" style="margin-bottom: 10px;">
                            Does the surviving owner want to transfer the land or property?
                         </h3>
                         <div class="govuk-radios" id="myRadioGroup10">
                            <div class="govuk-radios__item">
                               <input class="govuk-radios__input" type="radio" name="question10" value="A" id="Q10A">
                               <label class="govuk-label govuk-radios__label" for="Q10A">
                               Yes
                               </label>
                            </div>
                            <div class="govuk-radios__item">
                               <input class="govuk-radios__input" type="radio" name="question10" value="B" id="Q10B">
                               <label class="govuk-label govuk-radios__label" for="Q10B">
                               No
                               </label>
                            </div>
                            <div class="govuk-grid-row desc4" id="question10A">
                               <div class="govuk-grid-column-full govuk-!-padding-bottom-3 govuk-!-padding-top-3">
                                  <hr style="margin-bottom:25px;">
                                  <h3 class="govuk-heading-l" style="margin-bottom: 10px;margin-top: 40px;">Bereavement information</h3>
                                  <p>
                                    The article <b>Transfer unregistered land or property to the surviving owner and a beneficiary</b> from our knowledge base will help you:<br>
                                     <a href="https://help.landregistry.gov.uk/app/answers/detail/a_id/154" target="_blank">Click here to view it in a new window</a></p>
                                     
                             
                                      <h3 class="govuk-heading-s" style="margin-top: 30px;margin-bottom: 10px;">
                                 How did we arrive at this recommendation?
                             </h3>
                             <ul class='govuk-body'>
                                <li>The land or property of the person who died is not registered with us.</li>
                                <li>You do not want to transfer/assent or sell the land or property of the person who died.</li>
                                <li>The transfer is to a beneficiary of the person who died.</li>
                                <li>The person who died was a joint owner of the land or property.</li>
                                <li>The surviving owner wants to transfer the land or property.</li>
                            </ul>
 
                             <h3 class="govuk-heading-s" style="margin-top: 30px;margin-bottom: 15px;">
                                 If you require further information:
                             </h3>
                             <button class="govuk-button" data-module="govuk-button" data-module="govuk-button" onclick="window.location.href='/UserResearch/GuidedAssistance/Bereavement/V3/form1.html'">
                                 Contact us
                               </button>
 
                               </div>
                            </div>
                            <div class="govuk-grid-row desc4" id="question10B">
                               <div class="govuk-grid-column-full govuk-!-padding-bottom-3 govuk-!-padding-top-3">
                                  <hr style="margin-bottom:25px;">
                                  <h3 class="govuk-heading-l" style="margin-bottom: 10px;margin-top: 40px;">Bereavement information</h3>
                                   <p>
                                     The article <b>Transfer property ownership to a third party</b> from our knowledge base will help you:<br>
                                      <a href="https://help.landregistry.gov.uk/app/answers/detail/a_id/132" target="_blank">Click here to view it in a new window</a></p>
                                     
                             
                                      <h3 class="govuk-heading-s" style="margin-top: 30px;margin-bottom: 10px;">
                                 How did we arrive at this recommendation?
                             </h3>
                             <ul class='govuk-body'>
                                 <li>The transfer is not to a beneficiary of the person who died.</li>
                                 <li>You want to transfer/assent or sell the land or property of the person who died.</li>
                                 <li>The person who died was a joint owner of the land or property.</li>
                                 <li>The land or property of the person who died is registered with us.</li>
                             </ul>
 
                             <h3 class="govuk-heading-s" style="margin-top: 30px;margin-bottom: 15px;">
                                 If you require further information:
                             </h3>
                             <button class="govuk-button" data-module="govuk-button" data-module="govuk-button" onclick="window.location.href='/UserResearch/GuidedAssistance/Bereavement/V3/form1.html'">
                                 Contact us
                               </button>
 
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="govuk-grid-row desc3" id="question3B">
                      <div class="govuk-grid-column-full govuk-!-padding-bottom-3 govuk-!-padding-top-3">
                         <hr style="margin-bottom:25px;">
                         <h3 class="govuk-heading-m" style="margin-bottom: 10px;">
                             Is the transfer to a beneficiary of the person who died?
                         </h3>
                         <div class="govuk-radios" id="myRadioGroup5">
                            <div class="govuk-radios__item">
                               <input class="govuk-radios__input" type="radio" name="question5" value="A" id="Q5A">
                               <label class="govuk-label govuk-radios__label" for="Q5A">
                               Yes
                               </label>
                            </div>
                            <div class="govuk-radios__item">
                               <input class="govuk-radios__input" type="radio" name="question5" value="B" id="Q5B">
                               <label class="govuk-label govuk-radios__label" for="Q5B">
                               No
                               </label>
                            </div>
                            <div class="govuk-grid-row desc5" id="question5A">
                               <div class="govuk-grid-column-full govuk-!-padding-bottom-3 govuk-!-padding-top-3">
                                  <hr style="margin-bottom:25px;">
                                  <h3 class="govuk-heading-l" style="margin-bottom: 10px;margin-top: 40px;">Bereavement information</h3>
                                  <p>
                                     The article <b>Transfer property to the beneficiary after the sole owner has died</b> from our knowledge base will help you:<br>
                                      <a href="https://help.landregistry.gov.uk/app/answers/detail/a_id/27" target="_blank">Click here to view it in a new window</a></p>
                                     
                             
                                      <h3 class="govuk-heading-s" style="margin-top: 30px;margin-bottom: 10px;">
                                 How did we arrive at this recommendation?
                             </h3>
                             <ul class='govuk-body'>
                                 <li>The person who died was not a joint owner of the land or property.</li>
                                 <li>The transfer is to a beneficiary of the person who died.</li>
                                 <li>The land or property of the person who died is registered with us.</li>
                                 <li>You want to transfer/assent or sell the land or property of the person who died.</li>
                             </ul>
                             
                             <h3 class="govuk-heading-s" style="margin-top: 30px;margin-bottom: 15px;">
                                 If you require further information:
                             </h3>
                             <button class="govuk-button" data-module="govuk-button" data-module="govuk-button" onclick="window.location.href='/UserResearch/GuidedAssistance/Bereavement/V3/form1.html'">
                                 Contact us
                               </button>
 
                             </div>
                               </div>
                            </div>
                            <div class="govuk-grid-row desc5" id="question5B">
                               <div class="govuk-grid-column-full govuk-!-padding-bottom-3 govuk-!-padding-top-3">
                                  <hr style="margin-bottom:25px;">
                                  <h3 class="govuk-heading-l" style="margin-bottom: 10px;margin-top: 40px;">Bereavement information</h3>
                                  <p>
                                     The article <b>Transfer property to a third party after the death of a sole owner</b> from our knowledge base will help you:<br>
                                      <a href="https://help.landregistry.gov.uk/app/answers/detail/a_id/25" target="_blank">Click here to view it in a new window</a></p>
                                     
                             
                                      <h3 class="govuk-heading-s" style="margin-top: 30px;margin-bottom: 10px;">
                                 How did we arrive at this recommendation?
                             </h3>
                             <ul class='govuk-body'>
                                 <li>The person who died was not a joint owner of the land or property.</li>
                                 <li>The transfer is not to a beneficiary of the person who died.</li>
                                 <li>The land or property of the person who died is registered with us.</li>
                                 <li>You want to transfer/assent or sell the land or property of the person who died.</li>
                             </ul>
                             
                             <h3 class="govuk-heading-s" style="margin-top: 30px;margin-bottom: 15px;">
                                 If you require further information:
                             </h3>
                             <button class="govuk-button" data-module="govuk-button" data-module="govuk-button" onclick="window.location.href='/UserResearch/GuidedAssistance/Bereavement/V3/form1.html'">
                                 Contact us
                               </button>
 
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="govuk-grid-row desc2" id="question2B">
             <div class="govuk-grid-column-full govuk-!-padding-bottom-3 govuk-!-padding-top-3">
                <hr style="margin-bottom:25px;">
                <h3 class="govuk-heading-m" style="margin-bottom: 10px;">
                 Do you want to transfer/assent or sell the land or property of the person who died?
                </h3>
                <div class="govuk-radios" id="myRadioGroup6">
                   <div class="govuk-radios__item">
                      <input class="govuk-radios__input" type="radio" name="question6" value="A" id="Q6A">
                      <label class="govuk-label govuk-radios__label" for="Q6A">
                      Yes
                      </label>
                   </div>
                   <div class="govuk-radios__item">
                      <input class="govuk-radios__input" type="radio" name="question6" value="B" id="Q6B">
                      <label class="govuk-label govuk-radios__label" for="Q6B">
                      No
                      </label>
                   </div>
                   <div class="govuk-grid-row desc6" id="question6A">
                      <div class="govuk-grid-column-full govuk-!-padding-bottom-3 govuk-!-padding-top-3">
                         <hr style="margin-bottom:25px;">
                         <h3 class="govuk-heading-l" style="margin-bottom: 10px;margin-top: 40px;">Bereavement information</h3>
                         <p>
                             The article <b>Remove a deceased joint owner from the property record</b> from our knowledge base will help you:<br>
                              <a href="https://help.landregistry.gov.uk/app/answers/detail/a_id/29" target="_blank">Click here to view it in a new window</a></p>
                             
                     
                              <h3 class="govuk-heading-s" style="margin-top: 30px;margin-bottom: 10px;">
                         How did we arrive at this recommendation?
                     </h3>
                     <ul class='govuk-body'>
                         <li>You do not want to transfer/assent or sell the land or property of the person who died.</li>
                         <li>The person who died was a joint owner of the land or property.</li>
                         <li>The land or property of the person who died is registered with us.</li>
                     </ul>
                     
                     <h3 class="govuk-heading-s" style="margin-top: 30px;margin-bottom: 15px;">
                         If you require further information:
                     </h3>
                     <button class="govuk-button" data-module="govuk-button" data-module="govuk-button" onclick="window.location.href='/UserResearch/GuidedAssistance/Bereavement/V3/form1.html'">
                         Contact us
                       </button>
 
                      </div>
                   </div>
                   <div class="govuk-grid-row desc6" id="question6B">
                      <div class="govuk-grid-column-full govuk-!-padding-bottom-3 govuk-!-padding-top-3">
                         <hr style="margin-bottom:25px;">
                                 <h3 class="govuk-heading-m" style="margin-bottom: 10px;">
                                     Are you the personal representative of the person who died?
                                </h3>
                                <div class="govuk-radios" id="myRadioGroup7">
                                   <div class="govuk-radios__item">
                                      <input class="govuk-radios__input" type="radio" name="question7" value="A" id="Q7A">
                                      <label class="govuk-label govuk-radios__label" for="Q7A">
                                      Yes
                                      </label>
                                   </div>
                                   <div class="govuk-radios__item">
                                      <input class="govuk-radios__input" type="radio" name="question7" value="B" id="Q7B">
                                      <label class="govuk-label govuk-radios__label" for="Q7B">
                                      No
                                      </label>
                                   </div>
                                   <div class="govuk-grid-row desc7" id="question7A">
                                      <div class="govuk-grid-column-full govuk-!-padding-bottom-3 govuk-!-padding-top-3">
                                         <hr style="margin-bottom:25px;">
                                         <h3 class="govuk-heading-l" style="margin-bottom: 10px;margin-top: 40px;">Bereavement information</h3>
                                         <p>
                                             The article <b>Register yourself as the personal representative after the death of a sole property owner</b> from our knowledge base will help you:<br>
                                              <a href="https://help.landregistry.gov.uk/app/answers/detail/a_id/24" target="_blank">Click here to view it in a new window</a></p>
                                             
                                     
                                              <h3 class="govuk-heading-s" style="margin-top: 30px;margin-bottom: 10px;">
                                         How did we arrive at this recommendation?
                                     </h3>
                                     <ul class='govuk-body'>
                                         <li>You do not want to transfer/assent or sell the land or property of the person who died.</li>
                                         <li>The person who died was not a joint owner of the land or property.</li>
                                         <li>The land or property of the person who died is registered with us.</li>
                                         <li>You are the personal representative of the person who died.</li>
                                     </ul>
                                     
                             <h3 class="govuk-heading-s" style="margin-top: 30px;margin-bottom: 15px;">
                                 If you require further information:
                             </h3>
                             <button class="govuk-button" data-module="govuk-button" data-module="govuk-button" onclick="window.location.href='/UserResearch/GuidedAssistance/Bereavement/V3/form1.html'">
                                 Contact us
                               </button>
 
                                      </div>
                                   </div>
                                   <div class="govuk-grid-row desc7" id="question7B">
                                      <div class="govuk-grid-column-full govuk-!-padding-bottom-3 govuk-!-padding-top-3">
                                         <hr style="margin-bottom:25px;">
                                         <h3 class="govuk-heading-l" style="margin-bottom: 10px;margin-top: 40px;">Bereavement information</h3>
                                         
                                         <p>
                                             The article <b>Report the death of a sole property owner</b> from our knowledge base will help you:<br>
                                              <a href="https://help.landregistry.gov.uk/app/answers/detail/a_id/26" target="_blank">Click here to view it in a new window</a></p>
                                             
                                              <h3 class="govuk-heading-s" style="margin-top: 30px;margin-bottom: 10px;">
                                         How did we arrive at this recommendation?
                                     </h3>
                                     <ul class='govuk-body'>
                                         <li>You do not want to transfer/assent or sell the land or property of the person who died.</li>
                                         <li>The person who died was not a joint owner of the land or property.</li>
                                         <li>You are not the personal representative of the person who died.</li>
                                         <li>The land or property of the person who died is registered with us.</li>
                                     </ul>
 
                                     <h3 class="govuk-heading-s" style="margin-top: 30px;margin-bottom: 15px;">
                                         If you require further information:
                                     </h3>
                                     <button class="govuk-button" data-module="govuk-button" data-module="govuk-button" onclick="window.location.href='/UserResearch/GuidedAssistance/Bereavement/V3/form1.html'">
                                         Contact us
                                       </button>
         
                                      </div>
                                   </div>
                                </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
</div>

<script>
   $(document).ready(function() {
       $("input[name$='question1']").click(function() {
           var test = $(this).val();
   
           $("div.desc").hide();
           $("#question1" + test).show();
       });
   });
   
   $(document).ready(function() {
       $("input[name$='question2']").click(function() {
           var test = $(this).val();
   
           $("div.desc2").hide();
           $("#question2" + test).show();
       });
   });
   
   $(document).ready(function() {
       $("input[name$='question3']").click(function() {
           var test = $(this).val();
   
           $("div.desc3").hide();
           $("#question3" + test).show();
       });
   });
   
   $(document).ready(function() {
       $("input[name$='question4']").click(function() {
           var test = $(this).val();
   
           $("div.desc4").hide();
           $("#question4" + test).show();
       });
   });
   
   $(document).ready(function() {
       $("input[name$='question5']").click(function() {
           var test = $(this).val();
   
           $("div.desc5").hide();
           $("#question5" + test).show();
       });
   });
   
   $(document).ready(function() {
       $("input[name$='question6']").click(function() {
           var test = $(this).val();
   
           $("div.desc6").hide();
           $("#question6" + test).show();
       });
   });

   $(document).ready(function() {
       $("input[name$='question7']").click(function() {
           var test = $(this).val();
   
           $("div.desc7").hide();
           $("#question7" + test).show();
       });
   });

   
   $(document).ready(function() {
       $("input[name$='question8']").click(function() {
           var test = $(this).val();
   
           $("div.desc8").hide();
           $("#question8" + test).show();
       });
   });

   
   $(document).ready(function() {
       $("input[name$='question9']").click(function() {
           var test = $(this).val();
   
           $("div.desc9").hide();
           $("#question9" + test).show();
       });
   });

   $(document).ready(function() {
       $("input[name$='question10']").click(function() {
           var test = $(this).val();
   
           $("div.desc10").hide();
           $("#question10" + test).show();
       });
   });

   $(document).ready(function() {
       $("input[name$='question11']").click(function() {
           var test = $(this).val();
   
           $("div.desc11").hide();
           $("#question11" + test).show();
       });
   });

   $(document).ready(function() {
       $("input[name$='question12']").click(function() {
           var test = $(this).val();
   
           $("div.desc12").hide();
           $("#question12" + test).show();
       });
   });

   $(document).ready(function() {
       $("input[name$='question13']").click(function() {
           var test = $(this).val();
   
           $("div.desc13").hide();
           $("#question13" + test).show();
       });
   });

   $(document).ready(function() {
       $("input[name$='question14']").click(function() {
           var test = $(this).val();
   
           $("div.desc14").hide();
           $("#question14" + test).show();
       });
   });
   
</script>


<style>
   .desc {
   display:none;
   }
   .desc2 {
   display:none;
   }
   .desc3 {
   display:none;
   }
   .desc4 {
   display:none;
   }
   .desc5 {
   display:none;
   }
   .desc6 {
   display:none;
   }
   .desc7 {
   display:none;
   }
   .desc8 {
   display:none;
   }
   .desc9 {
   display:none;
   }
   .desc10 {
   display:none;
   }
   .desc11 {
   display:none;
   }
   .desc12 {
   display:none;
   }
   .desc13 {
   display:none;
   }
   .desc14 {
   display:none;
   }


</style>


{% endblock %}