
{% extends "layout_webforms.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-padding-bottom-5">
  

      <h1 class="govuk-heading-xl">
        Gwybodaeth a gyflwynwyd
      </h1>
      <p>Diolch am gysylltu.</p>
      <p>Fel rheol, rydym yn ateb ymholiadau ar-lein yn ystod y diwrnod gwaith llawn nesaf ac rydym wedi ymrwymo i ymateb o fewn 5 diwrnod gwaith. Os na allwn wneud hyn, byddwn yn cysylltu â chi i roi gwybod. Rydym yn ymateb i geisiadau Deddf Diogelu Data o fewn 40 diwrnod calendr a cheisiadau Deddf Rhyddid Gwybodaeth o fewn 20 diwrnod gwaith.</p>
      <p>Os nad ydych wedi gwneud hynny’n barod, efallai yr hoffech ymweld â <a href="https://www.gov.uk/government/organisations/land-registry" target="_blank">gov.uk/land-registry</a>.</p>
    </div>
    

  </div>

{% endblock %}
