{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class=" govuk-grid-column-full govuk-!-padding-bottom-5">


      <h1 class="govuk-heading-xl" style="max-width: 725px;">
        Organisation details
      </h1>



      
      <form method="post" class="form">
        <div style="width: 100%;display:inline-block;">



            <div class="govuk-form-group" >
                <label class="govuk-label" for="organisation-name">
                Organisation name
                </label>
                <input class="govuk-input" id="organisation-name" name="organisation-name" value="{{ data['organisation-name'] }}" type="text" style="width: 300px;">
            </div>

            <div class="govuk-form-group" >
                <label class="govuk-label" for="organisation-trading-name">
                Organisation trading name (optional)
                </label>
                <input class="govuk-input" id="organisation-trading-name" name="organisation-trading-name" value="{{ data['organisation-trading-name'] }}" type="text" style="width: 300px;">
            </div>

            <div class="govuk-form-group" >
                <label class="govuk-label" for="llp-number" style="width: 450px;">
                Company/LLP registration number (if applicable)
                </label>
                <input class="govuk-input" id="llp-number" name="organisation-llp-number" value="{{ data['organisation-llp-number'] }}" type="text" style="width: 300px;">
            </div>

        </div>

        <div style="padding-bottom:50px;width: 100%;display:inline-block;">

            <div class="govuk-form-group">
                <label class="govuk-label" for="email">
                Email address
                </label>
                <input class="govuk-input" id="email" name="organisation-email" value="{{ data['organisation-email'] }}" spellcheck="false" aria-describedby="email-hint" autocomplete="email" style="width: 300px;">
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="telephone-number">
                    Telephone number
                </label>
                <input class="govuk-input" id="telephone-number" name="organisation-telephone-number" value="{{ data['organisation-telephone-number'] }}" type="tel" autocomplete="tel" style="width: 300px;">
            </div>




            <div class="govuk-form-group">
                <label class="govuk-label" for="organisation-address-line-1">
                  Building and street
                </label>
                <input class="govuk-input" id="organisation-address-line-1" name="organisation-address-line-1" type="text" autocomplete="address-line1" value="{{ data['organisation-address-line-1'] }}" style="width: 300px;">
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="organisation-address-town">
                  Town or city
                </label>
                <input class="govuk-input" id="organisation-address-town" name="organisation-address-town" type="text" autocomplete="address-level2" value="{{ data['organisation-address-town'] }}" style="width: 300px;">
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="organisation-address-country">
                  Country
                </label>
                <input class="govuk-input" id="organisation-address-country" name="organisation-address-country" type="text"value="{{ data['organisation-address-country'] }}" style="width: 300px;">
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="organisation-postcode">
                  Postcode
                </label>
                <input class="govuk-input" id="organisation-postcode" name="organisation-postcode" type="text" autocomplete="postal-code" value="{{ data['organisation-postcode'] }}" style="width: 300px;">
              </div>


            <div class="govuk-form-group">
                <label class="govuk-label" for="organisation-dx-number">
                    DX number (optional)
                </label>
                <input class="govuk-input" id="organisation-dx-number" name="organisation-dx-number" type="text" value="{{ data['organisation-dx-number'] }}" style="width: 300px; margin-bottom: 20px;">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="organisation-dx-exchange">
                  DX exchange (optional)
              </label>
              <input class="govuk-input" id="organisation-dx-exchange" name="organisation-dx-exchange" type="text" value="{{ data['organisation-dx-exchange'] }}" style="width: 300px; margin-bottom: 20px;">
          </div>



          <div class="govuk-form-group" style="margin-bottom:15px;width: 100%;">
            <button class="govuk-button" type="submit" formaction="1c">Continue</button>
        </div>

        </div>
    </form>


    </div>



</div>


<script type="text/javascript">
function showHide(d)
{
var onediv = document.getElementById(d);
var divs=['content1','content2'];
for (var i=0;i<divs.length;i++)
  {
  if (onediv != document.getElementById(divs[i]))
    {
    document.getElementById(divs[i]).style.display='none';
    }
  }
onediv.style.display = 'block';
}
    </script>


<style>

    .govuk-button-group {
        margin-right: -15px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
        display: flex;
    }

    .govuk-button-group .govuk-button, .govuk-button-group .govuk-link {
    margin-right: 15px;
}

.govuk-button-group .govuk-link {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1;
}
.govuk-form-group {
    float:left;
    margin-right:40px;
}

.govuk-summary-list__key, .govuk-summary-list__value, .govuk-summary-list__actions {
    border-bottom: 0px solid #b1b4b6;
}
    </style>


{% endblock %}
