{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class=" govuk-grid-column-full govuk-!-padding-bottom-5" ">


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
        Attach the Full Network Access Agreement
      </h1>

      <p class="govuk-body govuk-!-margin-bottom-6">
        Attach the completed and signed 'Full Network Access Agreement' form.
      </p>

      <div class="govuk-form-group">
        <label class="govuk-label form-label-bold" for="file-upload-1">
          Upload a file
        </label>
        <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
      </div>

      <form action="21" method="post" class="form">

      <div class=" govuk-grid-column-full" style="padding:30px 0px 0px 0px;">
        <button class="govuk-button" href="21.html" data-module="govuk-button" data-module="govuk-button" >
            Continue
        </button>
      </div>
</form>


    </div>

  </div>

{% endblock %}
