{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}



{% block beforeContent %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class=" govuk-grid-column-full govuk-!-padding-bottom-5">

      <h1 class="govuk-heading-xl">
        Organisation details
      </h1>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading" style="max-width: 680px;">
              What business type in your organisation?
            </h2>
          </legend>
          <p class="govuk-body govuk-!-margin-bottom-3"></p>
          <div class="govuk-warning-text">
              <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
              <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                'Legal services provider' includes solicitors and licensed conveyancers.
              </strong>
            </div>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="legal-business-type" name="business-type" type="radio" value="legalservices" {{ checked("legal-business-type", "Legal services provider") }}>
              <label class="govuk-label govuk-radios__label" for="business-type">
                Legal services provider
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="lender-business-type" name="business-type" type="radio" value="lender" {{ checked("lender-business-type", "Lender") }}>
              <label class="govuk-label govuk-radios__label" for="business-type">
                Lender
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="insolvency-business-type" name="business-type" type="radio" value="insolvency" {{ checked("insolvency-business-type", "Insolvency service") }}>
              <label class="govuk-label govuk-radios__label" for="business-type">
                Insolvency service
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="property-business-type" name="business-type" type="radio" value="property" {{ checked("property-business-type", "Property investors/services") }}>
              <label class="govuk-label govuk-radios__label" for="business-type">
                Property investors/services
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="building-business-type" name="business-type" type="radio" value="building" {{ checked("building-business-type", "Building company/developer") }}>
              <label class="govuk-label govuk-radios__label" for="business-type">
                Building company/developer
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="estate-business-type" name="business-type" type="radio" value="estate" {{ checked("estate-business-type", "Estate agent") }}>
              <label class="govuk-label govuk-radios__label" for="business-type">
                Estate agent
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="surveyor-business-type" name="business-type" type="radio" value="surveyor" {{ checked("surveyor-business-type", "Chartered surveyor") }}>
              <label class="govuk-label govuk-radios__label" for="business-type">
                Chartered surveyor
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="utility-business-type" name="business-type" type="radio" value="utility" {{ checked("utility-business-type", "Privatised utility") }}>
              <label class="govuk-label govuk-radios__label" for="business-type">
                Privatised utility
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="financial-business-type" name="business-type" type="radio" value="financial" {{ checked("financial-business-type", "Financial services") }}>
              <label class="govuk-label govuk-radios__label" for="business-type">
                Financial services
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="social-business-type" name="business-type" type="radio" value="social" {{ checked("social-business-type", "Registered social landlord/housing association") }}>
              <label class="govuk-label govuk-radios__label" for="business-type">
                Registered social landlord/housing association
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="charity-business-type" name="business-type" type="radio" value="charity" {{ checked("charity-business-type", "Charity") }}>
              <label class="govuk-label govuk-radios__label" for="business-type">
                Charity
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="commerical-business-type" name="business-type" type="radio" value="commercial" {{ checked("commercial-business-type", "Commercial retailer/trader") }}>
              <label class="govuk-label govuk-radios__label" for="business-type">
                Commercial retailer/trader
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="insurance-business-type" name="business-type" type="radio" value="insurance" {{ checked("insurance-business-type", "Insurance company") }}>
              <label class="govuk-label govuk-radios__label" for="business-type">
                Insurance company
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="other-business-type" name="business-type" type="radio" value="other" {{ checked("other-business-type", "Other") }}>
              <label class="govuk-label govuk-radios__label" for="business-type">
                Other
              </label>
            </div>
          </div>

          <p class="govuk-body govuk-!-margin-bottom-7"></p>

          <button class="govuk-button" data-module="govuk-button" data-module="govuk-button" onclick="window.location.href='4.html'">
            Continue
          </button>

        </fieldset>
      </div>

    </div>



</div>

<style>
    .govuk-button-group {
        margin-right: -15px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
        display: flex;
    }

    .govuk-button-group .govuk-button, .govuk-button-group .govuk-link {
    margin-right: 15px;
}

.govuk-button-group .govuk-link {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1;
}

    </style>

{% endblock %}
