
{% extends "layout_webforms.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-padding-bottom-5">
  

      <h1 class="govuk-heading-xl">
        Information Submitted
      </h1>
      <p>Thank you for getting in touch.</p>
      <p>We usually reply to online enquiries within the next full working day and are committed to responding within five working days. If we cannot do this, we'll contact you to let you know. We respond to Data Protection Act requests within forty calendar days and Freedom of Information Act requests within twenty working days. </p>
      <p>If you have not already done so, you may wish to visit <a href="https://www.gov.uk/government/organisations/land-registry" target="_blank">gov.uk/land-registry</a><!-- or our <a href="https://support.landregistry.gov.uk/landregistry" target="_blank">support forum</a>-->.</p>
    </div>
    

  </div>

{% endblock %}
