{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}



{% block beforeContent %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class=" govuk-grid-column-full govuk-!-padding-bottom-5">


      <h1 class="govuk-heading-xl">
        New administrator
      </h1>

<h3 class="govuk-heading-l" style="margin-bottom:10px;">Postcode</h3>
<p class="govuk-body" style="margin-bottom:30px;"><b>{{ data['postcode'] }}</b><a class="govuk-link" style="margin-left:20px;" href="1.html">Change</a></p>

        <div style="max-width:640px;">
          <form action="3" method="post">
            <div class="govuk-form-group">
                <select class="govuk-select" id="selectAddress" name="selectAddress">
                  <option value="select" selected>5 addresses found</option>
                  <option value="1">85 Adelaide Road, Ealing</option>
                  <option value="2">86 Adelaide Road, Ealing</option>
                  <option value="3">87 Adelaide Road, Ealing</option>
                  <option value="4">88 Adelaide Road, Ealing</option>
                  <option value="5">89 Adelaide Road, Ealing</option>
                </select>
              </div>

              <div id="content2" style="display:none;">

                <dd class="govuk-summary-list__value" style="padding:0px;">

                    <label class="govuk-label" for="address-line-1">
                      Building and street
                    </label>
                    <input class="govuk-input" id="address-line-1" name="address-line-1" type="text" autocomplete="address-line1" value="87 Adelaide Road" style="width: 300px; margin-bottom: 20px;">

                    <label class="govuk-label" for="address-town">
                      Town or city
                    </label>
                    <input class="govuk-input" id="address-town" name="address-town" type="text" autocomplete="address-level2" value="Ealing" style="width: 300px; margin-bottom: 20px;">


                    <label class="govuk-label" for="address-county">
                      County
                    </label>
                    <input class="govuk-input" id="address-county" name="address-county" type="text"value="Middlesex" style="width: 300px; margin-bottom: 20px;">


                    <label class="govuk-label" for="postcode">
                      Postcode
                    </label>
                    <input class="govuk-input govuk-input--width-10" id="postcode" name="postcode2" type="text" autocomplete="postal-code" value="W139ED" style="width: 300px; margin-bottom: 20px;">

                </dd>

                <div>
                    <button class="govuk-button" type="submit" formaction="3">Continue</button>
                </div>

            </div>

            <div style="margin-bottom:30px;">
                <a class="govuk-link" href="#">I can't find my address in the list</a>
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="dx-address">
              DX address (optional)
              </label>
              <input class="govuk-input" id="dx-address" name="dx-address" type="text" style="width: 322px;">
          </div>

          <button class="govuk-button" data-module="govuk-button" data-module="govuk-button">
            Continue
        </button>
      </form>
        </div>
    </div>



</div>

<style>
    .govuk-button-group {
        margin-right: -15px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
        display: flex;
    }

    .govuk-button-group .govuk-button, .govuk-button-group .govuk-link {
    margin-right: 15px;
}

.govuk-button-group .govuk-link {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1;
}

    </style>

{% endblock %}
