{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class=" govuk-heading-xl">
         How to change your contact address on property records
        </h1>
    </div>
</div>

<div class="govuk-grid-row">
   <div class="govuk-grid-column-full">
      <form class="form" action="" method="post">
         <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
               <div>
                  <h3 class="govuk-heading-m">Is this property registered with HM Land Registry?</h3>
               </div>
               <div class="govuk-radios" id="myRadioGroup">
                  <div class="govuk-radios__item">
                     <input class="govuk-radios__input" type="radio" name="question1" value="A" id="Q1A">
                     <label class="govuk-label govuk-radios__label" for="Q1A">
                     Yes
                     </label>
                  </div>
                  <div class="govuk-radios__item">
                     <input class="govuk-radios__input" type="radio" name="question1" value="B" id="Q1B">
                     <label class="govuk-label govuk-radios__label" for="Q1B">
                     No
                     </label>
                  </div>
                 
               </div>
            </fieldset>
         </div>
      </form>
   </div>
</div>
<div class="govuk-grid-row desc" id="question1A">
   <div class="govuk-grid-column-full govuk-!-padding-bottom-3">
      <hr style="margin-bottom:25px;">
      <h3 class="govuk-heading-m" style="margin-bottom: 10px;">
         Do you want to update the contact address for the registered owner?
      </h3>
      <div class="govuk-radios" id="myRadioGroup2">
         <div class="govuk-radios__item">
            <input class="govuk-radios__input" type="radio" name="question2" value="A" id="Q2A">
            <label class="govuk-label govuk-radios__label" for="Q2A">
            Yes
            </label>
         </div>
         <div class="govuk-radios__item">
            <input class="govuk-radios__input" type="radio" name="question2" value="B" id="Q2B">
            <label class="govuk-label govuk-radios__label" for="Q2B">
            No
            </label>
         </div>
         <div class="govuk-grid-row desc2" id="question2A">
            <div class="govuk-grid-column-full govuk-!-padding-bottom-3 govuk-!-padding-top-3">
               <hr style="margin-bottom:25px;">
               <h3 class="govuk-heading-m" style="margin-bottom: 10px;">
                  Are you applying on behalf of the owner?
               </h3>
               <div class="govuk-radios" id="myRadioGroup3">
                  <div class="govuk-radios__item">
                     <input class="govuk-radios__input" type="radio" name="question3" value="A" id="Q3A">
                     <label class="govuk-label govuk-radios__label" for="Q3A">
                     Yes
                     </label>
                  </div>
                  <div class="govuk-radios__item">
                     <input class="govuk-radios__input" type="radio" name="question3" value="B" id="Q3B">
                     <label class="govuk-label govuk-radios__label" for="Q3B">
                     No
                     </label>
                  </div>
                  <div class="govuk-grid-row desc3" id="question3A">
                     <div class="govuk-grid-column-full govuk-!-padding-bottom-3 govuk-!-padding-top-3">
                        <hr style="margin-bottom:25px;">
                        <h3 class="govuk-heading-m" style="margin-bottom: 10px;">
                           Are you representing a company?
                        </h3>
                        <div class="govuk-radios" id="myRadioGroup3">
                           <div class="govuk-radios__item">
                              <input class="govuk-radios__input" type="radio" name="question4" value="A" id="Q4A">
                              <label class="govuk-label govuk-radios__label" for="Q4A">
                              Yes
                              </label>
                           </div>
                           <div class="govuk-radios__item">
                              <input class="govuk-radios__input" type="radio" name="question4" value="B" id="Q4B">
                              <label class="govuk-label govuk-radios__label" for="Q4B">
                              No
                              </label>
                           </div>
                           <div class="govuk-grid-row desc4" id="question4A">
                              <div class="govuk-grid-column-full govuk-!-padding-bottom-3 govuk-!-padding-top-3">

                                 <hr class="govuk-!-margin-bottom-8">
                                 <div class="govuk-inset-text govuk-!-margin-bottom-4 recommendedBox">
                                    <h1 class="recommendedBoxTitle">
                                       We recommend that you visit
                                    </h1>
                                    <a class="recommendedBoxLink" href="https://help.landregistry.gov.uk/app/answers/detail/a_id/197" target="_blank">
                                       Update the contact address of a company in the property register
                                    </a>
                                 </div>

                              </div>
                           </div>
                           <div class="govuk-grid-row desc4" id="question4B">
                              <div class="govuk-grid-column-full govuk-!-padding-bottom-3 govuk-!-padding-top-3">

                                 <hr class="govuk-!-margin-bottom-8">
                                 <div class="govuk-inset-text govuk-!-margin-bottom-4 recommendedBox">
                                    <h1 class="recommendedBoxTitle">
                                       We recommend that you visit
                                    </h1>
                                    <a class="recommendedBoxLink" href="https://help.landregistry.gov.uk/app/answers/detail/a_id/196" target="_blank">
                                       Update a contact address on the property register on behalf of the owner
                                    </a>
                                 </div>

                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="govuk-grid-row desc3" id="question3B">
                     <div class="govuk-grid-column-full govuk-!-padding-bottom-3 govuk-!-padding-top-3">
                        <hr style="margin-bottom:25px;">
                        <h3 class="govuk-heading-m" style="margin-bottom: 10px;">
                           Are you a joint owner of the property?
                        </h3>
                        <div class="govuk-radios" id="myRadioGroup5">
                           <div class="govuk-radios__item">
                              <input class="govuk-radios__input" type="radio" name="question5" value="A" id="Q5A">
                              <label class="govuk-label govuk-radios__label" for="Q5A">
                              Yes
                              </label>
                           </div>
                           <div class="govuk-radios__item">
                              <input class="govuk-radios__input" type="radio" name="question5" value="B" id="Q5B">
                              <label class="govuk-label govuk-radios__label" for="Q5B">
                              No
                              </label>
                           </div>
                           <div class="govuk-grid-row desc5" id="question5A">
                              <div class="govuk-grid-column-full govuk-!-padding-bottom-3 govuk-!-padding-top-3">

                                 <hr class="govuk-!-margin-bottom-8">
                                 <div class="govuk-inset-text govuk-!-margin-bottom-4 recommendedBox">
                                    <h1 class="recommendedBoxTitle">
                                       We recommend that you visit
                                    </h1>
                                    <a class="recommendedBoxLink" href="https://help.landregistry.gov.uk/app/answers/detail/a_id/195" target="_blank">
                                       Update your contact address in the property register
                                    </a>
                                 </div>

                              </div>
                           </div>
                           <div class="govuk-grid-row desc5" id="question5B">
                              <div class="govuk-grid-column-full govuk-!-padding-bottom-3 govuk-!-padding-top-3">

                                 <hr class="govuk-!-margin-bottom-8">
                                 <div class="govuk-inset-text govuk-!-margin-bottom-4 recommendedBox">
                                    <h1 class="recommendedBoxTitle">
                                       We recommend that you visit
                                    </h1>
                                    <a class="recommendedBoxLink" href="https://help.landregistry.gov.uk/app/answers/detail/a_id/194" target="_blank">
                                       Update your contact address in the property register
                                    </a>
                                 </div>

                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="govuk-grid-row desc2" id="question2B">
            <div class="govuk-grid-column-full govuk-!-padding-bottom-3 govuk-!-padding-top-3">
               <hr style="margin-bottom:25px;">
               <h3 class="govuk-heading-m" style="margin-bottom: 10px;">
                  Do you want to update the land or property description?
               </h3>
               <div class="govuk-radios" id="myRadioGroup6">
                  <div class="govuk-radios__item">
                     <input class="govuk-radios__input" type="radio" name="question6" value="A" id="Q6A">
                     <label class="govuk-label govuk-radios__label" for="Q6A">
                     Yes
                     </label>
                  </div>
                  <div class="govuk-radios__item">
                     <input class="govuk-radios__input" type="radio" name="question6" value="B" id="Q6B">
                     <label class="govuk-label govuk-radios__label" for="Q6B">
                     No
                     </label>
                  </div>
                  <div class="govuk-grid-row desc6" id="question6A">
                     <div class="govuk-grid-column-full govuk-!-padding-bottom-3 govuk-!-padding-top-3">

                        <hr class="govuk-!-margin-bottom-8">
                        <div class="govuk-inset-text govuk-!-margin-bottom-4 recommendedBox">
                           <h1 class="recommendedBoxTitle">
                              We recommend that you visit
                           </h1>
                           <a class="recommendedBoxLink" href="https://help.landregistry.gov.uk/app/answers/detail/a_id/192" target="_blank">
                              Change the property description in the property register
                           </a>
                        </div>

                     </div>
                  </div>
                  <div class="govuk-grid-row desc6" id="question6B">
                     <div class="govuk-grid-column-full govuk-!-padding-bottom-3 govuk-!-padding-top-3">

                        <hr class="govuk-!-margin-bottom-8">
                        <div class="govuk-inset-text govuk-!-margin-bottom-4 recommendedBox">
                           <h1 class="recommendedBoxTitle">
                              We recommend that you visit
                           </h1>
                           <a class="recommendedBoxLink" href="https://help.landregistry.gov.uk/app/answers/detail/a_id/193" target="_blank">
                              Update a different address in the property register
                           </a>
                        </div>

                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="govuk-grid-row desc" id="question1B">
   <div class="govuk-grid-column-full govuk-!-padding-bottom-3 govuk-!-padding-top-3">

      <hr class="govuk-!-margin-bottom-8">
      <div class="govuk-inset-text govuk-!-margin-bottom-4 recommendedBox">
         <h1 class="recommendedBoxTitle">
            We recommend that you visit
         </h1>
         <a class="recommendedBoxLink" href="https://help.landregistry.gov.uk/app/answers/detail/a_id/227" target="_blank">
            Change the owner’s name or address on an unregistered property
         </a>
      </div>

   </div>
</div>
<div class="govuk-grid-row desc" id="question1C">
   <div class="govuk-grid-column-full govuk-!-padding-bottom-3 govuk-!-padding-top-3">

      <hr class="govuk-!-margin-bottom-8">
      <div class="govuk-inset-text govuk-!-margin-bottom-4 recommendedBox">
         <h1 class="recommendedBoxTitle">
            We recommend that you visit
         </h1>
         <a class="recommendedBoxLink" href="https://help.landregistry.gov.uk/app/answers/detail/a_id/229" target="_blank">
            Search for property information
         </a>
      </div>

   </div>
</div>



<script>
   $(document).ready(function() {
       $("input[name$='question1']").click(function() {
           var test = $(this).val();
   
           $("div.desc").hide();
           $("#question1" + test).show();
       });
   });
   
   $(document).ready(function() {
       $("input[name$='question2']").click(function() {
           var test = $(this).val();
   
           $("div.desc2").hide();
           $("#question2" + test).show();
       });
   });
   
   $(document).ready(function() {
       $("input[name$='question3']").click(function() {
           var test = $(this).val();
   
           $("div.desc3").hide();
           $("#question3" + test).show();
       });
   });
   
   $(document).ready(function() {
       $("input[name$='question4']").click(function() {
           var test = $(this).val();
   
           $("div.desc4").hide();
           $("#question4" + test).show();
       });
   });
   
   $(document).ready(function() {
       $("input[name$='question5']").click(function() {
           var test = $(this).val();
   
           $("div.desc5").hide();
           $("#question5" + test).show();
       });
   });
   
   $(document).ready(function() {
       $("input[name$='question6']").click(function() {
           var test = $(this).val();
   
           $("div.desc6").hide();
           $("#question6" + test).show();
       });
   });
   
</script>


<style>
   .desc {
   display:none;
   }
   .desc2 {
   display:none;
   }
   .desc3 {
   display:none;
   }
   .desc4 {
   display:none;
   }
   .desc5 {
   display:none;
   }
   .desc6 {
   display:none;
   }
</style>


{% endblock %}