{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl">
   Dealing with boundary matters
</h1>

<div class="govuk-grid-row">
   <div class="govuk-grid-column-full govuk-!-padding-bottom-3">
      <form class="form" action="boundarymatters-choice" method="post">
         <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
               
                <div>
                  <h3 class="govuk-heading-m">Please choose from the following options</h3>
               </div>

               <div class="govuk-radios">
                  <div class="govuk-radios__item">
                     <input class="govuk-radios__input" name="boundary-matters-options" type="radio" value="content-1" id="content-1">
                     <label class="govuk-label govuk-radios__label" for="content-1">
                     I want help to resolve a boundary dispute
                     </label>
                  </div>

                  <div class="govuk-radios__item">
                     <input class="govuk-radios__input" name="boundary-matters-options" type="radio" value="content-2" id="content-2">
                     <label class="govuk-label govuk-radios__label" for="content-2">
                     I want to identify who owns a boundary, or is responsible for its repair and maintenance
                     </label>
                  </div>

                 <div class="govuk-radios__item">
                    <input class="govuk-radios__input" name="boundary-matters-options" type="radio" value="content-3" id="content-3">
                    <label class="govuk-label govuk-radios__label" for="content-3">
                    I want to confirm the position of a boundary
                    </label>
                 </div>

                 <div class="govuk-radios__item">
                    <input class="govuk-radios__input" name="boundary-matters-options" type="radio" value="content-4" id="content-4">
                    <label class="govuk-label govuk-radios__label" for="content-4">
                    I believe there is an error on the title plan
                    </label>
                 </div>

                 <div class="govuk-radios__item">
                    <input class="govuk-radios__input" name="boundary-matters-options" type="radio" value="content-5" id="content-5">
                    <label class="govuk-label govuk-radios__label" for="content-5">
                    I want advice about planning permissions
                    </label>
                 </div>

                 <div class="govuk-radios__item">
                    <input class="govuk-radios__input" name="boundary-matters-options" type="radio" value="content-6" id="content-6">
                    <label class="govuk-label govuk-radios__label" for="content-6">
                    I want advice about overhanging branches and hedges
                    </label>
                 </div>

                 <div class="govuk-radios__item">
                    <input class="govuk-radios__input" name="boundary-matters-options" type="radio" value="content-7" id="content-7">
                    <label class="govuk-label govuk-radios__label" for="content-7">
                    I want advice about drains and sewers
                    </label>
                 </div>

                 <div class="govuk-radios__item">
                    <input class="govuk-radios__input" name="boundary-matters-options" type="radio" value="content-8" id="content-8">
                    <label class="govuk-label govuk-radios__label" for="content-8">
                    Noisy neighbours and fly-tipping
                    </label>
                 </div>

                 <div class="govuk-radios__item">
                    <input class="govuk-radios__input" name="boundary-matters-options" type="radio" value="content-9" id="content-9">
                    <label class="govuk-label govuk-radios__label" for="content-9">
                    Background information
                    </label>
                 </div>


               </div>
            </fieldset>
         </div>
      </form>
   </div>
</div>

<div class="govuk-grid-row content-1 contentbox">
    <div class="govuk-grid-column-full govuk-!-padding-bottom-3">
        <hr style="margin-bottom:25px;">
        <h3 class="govuk-heading-s">In short, Land Registry cannot:</h3>
        
        <ul class="govuk-body govuk-!-margin-bottom-5">  
            <li>resolve or become involved in a boundary dispute</li>
            <li>enforce the contents of the register</li>
            <li>make someone comply with any covenants referred to on the register, for example, rebuild a wall</li>
        </ul>

        <p>Ultimately, only the court or the Land Registration division of the Property Chamber can determine the exact position of a boundary or other disputed issue.</p>
        <p><a href="https://www.gov.uk/how-to-resolve-neighbour-disputes/talk-to-your-neighbour" target="_blank">Try talking to your neighbour</a> to reach an amicable agreement. This could avoid other costly or complex options.</p>

        <hr style="margin-top:25px;">

    </div>
</div>

<div class=" govuk-grid-row content-2 contentbox">
    <div class="govuk-grid-column-full govuk-!-padding-bottom-3">
        <hr style="margin-bottom:25px;">

        <p>If a property is <a href="https://www.gov.uk/get-information-about-property-and-land/search-the-index-map" target="_blank">registered</a><a href="https://www.gov.uk/get-information-about-property-and-land/search-the-register" target="_blank">check the registers or associated deeds</a> as they may contain information about who owns the boundaries or who is responsible for their maintenance.</p>

        <p>Most registers and deeds do not contain anything specific. Even if they do, they may be out of date because of acts or agreements made between previous owners that we're unaware of.</p>
            
        <p>If the property is not registered, we will not hold any information. You'll need to find and read your title deeds independently. Have a look at any documents your solicitor may have given to you when you bought your property to see if they mention anything about boundary features.</p>
            
        <p>We do not provide legal advice and we cannot give out information about your title deeds over the telephone.</p>
            
        <p><a href="https://www.gov.uk/government/publications/land-registry-plans-boundaries/land-registry-plans-boundaries-practice-guide-40-supplement-3" target="_blank">Read our guidance about general boundaries, ownership and maintenance</a>.</p>

        <hr style="margin-top:25px;">

    </div>
</div>

<div class=" govuk-grid-row content-3 contentbox">
    <div class="govuk-grid-column-full govuk-!-padding-bottom-3">
        <hr style="margin-bottom:25px;">

        <p>We cannot tell you the precise location of a property boundary. Land in England and Wales is registered with what are known as general boundaries.</p>

        <p>A red line on the HM Land Registry <a href="https://www.gov.uk/government/publications/land-registry-plans-title-plan/land-registry-plans-title-plan-practice-guide-40-supplement-5" target="_blank">title plan</a> shows the general boundary, not the exact legal position of the boundary. These lines show the general location of the property in relation to physical features on the ground such as walls, hedges, rivers and roads as marked on the <a href="https://www.gov.uk/government/organisations/ordnance-survey" target="_blank">Ordnance Survey</a> map.</p>
            
        <p>The legal boundary may or may not be somewhere within that feature or along one side of it. For most people, the general boundary rule meets their needs.</p>
            
        <p><a href="https://www.gov.uk/government/publications/land-registry-plans-the-basis-of-land-registry-applications/land-registry-plans-the-basis-of-land-registry-plans-practice-guide-40-supplement-1" target="_blank">Read about how Ordnance Survey maps relate to HM Land Registry title plans</a></p>

        <hr style="margin-top:25px;">

    </div>
</div>

<div class=" govuk-grid-row content-4 contentbox">
    <div class="govuk-grid-column-full govuk-!-padding-bottom-3">
        <hr style="margin-bottom:25px;">

        <p>Write to us if you think the title plan for your land or property is wrong.</p>

        <p>Before you contact us you should be aware that the Land Registration Rules 2003 make no provision for the replacement of title plans when the physical layout of the site has changed.</p>
            
        <p>Title plans are prepared using the latest Ordnance Survey map published at the time of first registration and, generally, once a title plan has been prepared it will not be replaced. For example, we will not update a title plan solely on the basis that later Ordnance Survey information has been made available, or if land has been removed from the title. As such, later editions of the map may show the same feature in a slightly different place, without this necessarily having any significance in terms of the movement of physical features on the ground.</p>
            
        <p>If you still think the title plan for your land or property is wrong, you'll need to describe the error and include an Ordnance Survey plan and any other supporting material, for example, certified copies of the property deeds.</p>
            
        <p>We'll look into the matter. If we find that there's a mistake, we'll explain how it happened and how to put it right. If we do not think there's a mistake, we'll tell you why.</p>
            
        <h3 class="govuk-heading-s">Send your documents to:</h3>   
        <p>HM Land Registry Citizen Centre<br>
        PO Box 74<br>
        Gloucester<br>
        GL14 9BB</p>

        <hr style="margin-top:25px;">

    </div>
</div>


<div class=" govuk-grid-row content-5 contentbox">
    <div class="govuk-grid-column-full govuk-!-padding-bottom-3">
        <hr style="margin-bottom:25px;">

        <h3 class="govuk-heading-s" style="
    margin-bottom: 10px;
">Please consult the following information:</h3>
        <p><a href="https://help.landregistry.gov.uk/app/answers/detail/a_id/364" target="_blank">Planning permission</a></p>

        <hr style="margin-top:25px;">

    </div>
</div>


<div class=" govuk-grid-row content-6 contentbox">
    <div class="govuk-grid-column-full govuk-!-padding-bottom-3">
        <hr style="margin-bottom:25px;">

        <h3 class="govuk-heading-s" style="
    margin-bottom: 10px;
">Please consult the following information:</h3>
        <p><a href="https://help.landregistry.gov.uk/app/answers/detail/a_id/365" target="_blank">
            Overhanging branches</a></p>

        <hr style="margin-top:25px;">

    </div>
</div>


<div class=" govuk-grid-row content-7 contentbox">
    <div class="govuk-grid-column-full govuk-!-padding-bottom-3">
        <hr style="margin-bottom:25px;">

        <h3 class="govuk-heading-s" style="
    margin-bottom: 10px;
">Please consult the following information:</h3>
        <p><a href="https://help.landregistry.gov.uk/app/answers/detail/a_id/366" target="_blank">
            Drains and sewers</a></p>

        <hr style="margin-top:25px;">

    </div>
</div>


<div class=" govuk-grid-row content-8 contentbox">
    <div class="govuk-grid-column-full govuk-!-padding-bottom-3">
        <hr style="margin-bottom:25px;">

        <h3 class="govuk-heading-s" style="
    margin-bottom: 10px;
">Please consult the following information:</h3>
        <p><a href="https://help.landregistry.gov.uk/app/answers/detail/a_id/367" target="_blank">
            Noisy neighbours and fly-tipping</a></p>

        <hr style="margin-top:25px;">

    </div>
</div>


<div class=" govuk-grid-row content-9 contentbox">
    <div class="govuk-grid-column-full govuk-!-padding-bottom-3">
        <hr style="margin-bottom:25px;">

        <h3 class="govuk-heading-s" style="
    margin-bottom: 10px;
">Please consult the following information:</h3>
        <p><a href="https://help.landregistry.gov.uk/app/answers/detail/a_id/368" target="_blank">
            Background information</a></p>

        <hr style="margin-top:25px;">

    </div>
</div>


<script type="text/javascript"> 
    $(document).ready(function() { 
        $('input[type="radio"]').click(function() { 
            var inputValue = $(this).attr("value"); 
            var targetBox = $("." + inputValue); 
            $(".contentbox").not(targetBox).hide(); 
            $(targetBox).show(); 
        }); 
    }); 
</script> 

<style type="text/css"> 
    .contentbox { 
        padding: 0px; 
        display: none;  
        width: 100%; 
    } 
</style> 





{% endblock %}