{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit 
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="/index.html">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-padding-bottom-5" style="max-width:830px;">
  

      <h1 class="govuk-heading-xl">
        Apply for or update a <br>Business e-services account
      </h1>

      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner"> <div class="govuk-notification-banner__header"> <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title" > Important </h2> </div> <div class="govuk-notification-banner__content"> <p class="govuk-notification-banner__heading">        This service will time out after 30 minutes of inactivity and any work will be lost. There is no option to save and resume an application</p></div> </div>

        <div class="govuk-body govuk-!-margin-bottom-9">
            <h3 class="govuk-heading-m">Use this service:</h3>

            <ul class="govuk-body">
              <li>apply for access to Information Services - Including Application Enquiry and MapSearch, Land Charges Services and the electronic Document Registration Service (e-DRS)</li>
              <li>apply for access to Network Services - available to legal services providers, such as solicitors and licensed conveyancers</li>
              <li>apply for access to Lender Services - available for lenders and third party agents that sometimes act on their behalf</li>
              <li>update account details for organisations that already have a Business e-services account</li>
          </ul>

      </div>

      <div class="govuk-body govuk-!-margin-bottom-6">
          <h3 class="govuk-heading-m">Before you start, you will need:</h3>
          
          <ul class="govuk-body">  
            <li>to have read and understood your obligations in the <a href="https://www.gov.uk/government/publications/conditions-of-use-hm-land-registry-business-e-services/conditions-of-use-portal-and-business-gateway">Conditions of Use (COU)</a></li>
            <li>the name and contact details for your organisation, administrators, responsible person and point of contact</li>
            <li>an existing variable Direct Debit (VDD) key number for your organisation or if you don’t have one, fill in a <a href="https://www.gov.uk/government/publications/set-up-a-variable-direct-debit-to-pay-for-hm-land-registry-services">VDD application form and direct debit mandate</a> (see pages 13 to 15 of the VDD guide) for each account you require</li>
            <li>a completed and signed paper copy of the <a href="https://www.gov.uk/government/publications/hm-land-registry-network-access-agreement">Network Access Agreement (NAA)</a>, if applying for Network Services</li>
            <li>a completed and signed paper copy of the <a href="https://www.gov.uk/government/publications/hm-land-registry-memorandum-of-understanding-for-lenders">Memorandum of Understanding (MOU)</a>, if applying for Lender Services</li>
            <li>the ability to scan or take a photo and upload a signature</li>
            <li>the ability to scan and upload an NAA, VDD and MOU form, if applicable</li>
          </ul>

      </div>


      <div class="govuk-!-margin-bottom-9">
      <button class="govuk-button" data-module="govuk-button" data-module="govuk-button" onclick="window.location.href='alreadyornot'">
        Start now
      </button>
    </div>

    </div>

  </div>

{% endblock %}
