
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Prototyping ToolKit
      </h1>
      <p>
        This is where you can find useful components, code or mini prototype demos to help you with your work.
      </p>

      <h3 class="govuk-heading-s" style="margin-bottom:5px;">Radio Buttons</h3>
      <p><a href="/UserResearch/Examples/EmbededRadioButtons">Displaying content based on radio button selection</a></p>


  </div>

{% endblock %}
