{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}



{% block beforeContent %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class=" govuk-grid-column-full govuk-!-padding-bottom-5">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-8" style="max-width: 850px;margin-bottom:20px !Important;">
              Has the current responsible person left your organisation?
            </h1>
          </legend>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="left-organisation" name="left-organisation-type" type="radio" value="Yes" {{ checked("left-organisation", "Yes") }}>
              <label class="govuk-label govuk-radios__label" for="left-organisation">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="left-organisation" name="left-organisation-type" type="radio" value="No" {{ checked("left-organisation", "No") }}>
              <label class="govuk-label govuk-radios__label" for="left-organisation">
                No
              </label>
            </div>
          </div>

<p class="govuk-body govuk-!-margin-bottom-9"></p>

          <p  style="max-width: 850px;"> If the responsible person has left the organisation and they were also one of your organisation's administrators we will delete their account. </p>
          <p style="max-width: 850px;"> Please return their security token to us or deposit it in accordance with Waste Electrical and Electronic Equipment (WEEE) environmental legislation. If they were also an authorised user, you should direct one of your organisation's administrators to delete that account. </p>

          <button class="govuk-button" data-module="govuk-button" data-module="govuk-button" onclick="window.location.href='3.html'">
            Continue
          </button>

        </fieldset>
      </div>

    </div>



</div>

<style>
    .govuk-button-group {
        margin-right: -15px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
        display: flex;
    }

    .govuk-button-group .govuk-button, .govuk-button-group .govuk-link {
    margin-right: 15px;
}

.govuk-button-group .govuk-link {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1;
}

    </style>

{% endblock %}
