{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class=" govuk-grid-column-full govuk-!-padding-bottom-5">


      <h1 class="govuk-heading-xl">
        New responsible person
      </h1>
      <form action="2" method="post" class="form">

        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-warning-text__assistive">Warning</span>
              You need to assign a new responsible person for your organisation who will supervise the adminstrators of the system.
            </strong>
          </div>

        <div class="govuk-body govuk-!-margin-bottom-8">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-3">The deputy responsible person will:</h3>

            <ul class="govuk-body">
              <li>supervise the administrators</li>
              <li>get access to reports documenting the activities of the administrators</li>
              <li>access VDD account data</li>
          </ul>

      </div>
        <div style="">
            <div class="govuk-form-group">
                <label class="govuk-label" for="first-name">
                First / Given name(s)
                </label>
                <input class="govuk-input" id="new-first-name" name="new-first-name" value="{{ data['new-first-name'] }}" type="text" style="width: 300px;">
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="last-name">
                    Surname / Family name
                </label>
                <input class="govuk-input" id="new-family-name" name="new-family-name" value="{{ data['new-family-name'] }}" type="text" style="width: 300px;">
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="job-role">
                    Role
                </label>
                <input class="govuk-input" id="job-role" name="job-role" value="{{ data['job-role'] }}" type="text" style="width: 300px;">
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="email">
                Email address
                </label>
                <input class="govuk-input" id="email" name="email" value="{{ data['email'] }}" spellcheck="false" aria-describedby="email-hint" autocomplete="email" style="width: 300px;">
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="telephone-number">
                    Telephone number
                </label>
                <input class="govuk-input" id="telephone-number" name="telephone-number" value="{{ data['telephone-number'] }}" type="tel" autocomplete="tel" style="width: 300px;">
            </div>


            <div class="govuk-form-group" style="margin-bottom:15px;width: 100%;">
                <label class="govuk-label" for="postcode">
                Postcode
                </label>
                <input class="govuk-input" id="postcode" name="postcode" value="{{ data['postcode'] }}" type="text" style="width: 300px;">

                <p class="govuk-body govuk-!-margin-bottom-3">A paragraph with a margin-bottom override (spacing unit 3).</p

                <div class="govuk-button-group" style="padding-top:15px;">
                    <button class="govuk-button" data-module="govuk-button" href="5.html">
                        Find address
                    </button>

                    <a class="govuk-link" href="#" onclick="toggle_visibility('manual-address');">Add address manually</a>
                </div>

            </div>

            <div id="manual-address" style="display:none;">

                <dd class="govuk-summary-list__value">

                    <label class="govuk-label" for="address-line-1">
                      Building and street
                    </label>
                    <input class="govuk-input" id="address-line-1" name="address-line-1" type="text" autocomplete="address-line1" value="{{ data['address-line-1'] }}" style="width: 300px; margin-bottom: 20px;">

                    <label class="govuk-label" for="address-town">
                      Town or city
                    </label>
                    <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text" autocomplete="address-level2" value="{{ data['address-town'] }}" style="width: 300px; margin-bottom: 20px;">


                    <label class="govuk-label" for="address-county">
                      County
                    </label>
                    <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="text"value="{{ data['address-county'] }}" style="width: 300px; margin-bottom: 20px;">


                    <label class="govuk-label" for="postcode">
                      UK Postcode
                    </label>
                    <input class="govuk-input govuk-input--width-10" id="postcode" name="postcode" type="text" autocomplete="postal-code" value="{{ data['postcode'] }}" style="width: 300px; margin-bottom: 20px;">

                    <label class="govuk-label" for="postcode">
                      DX address (optional)
                    </label>
                    <input class="govuk-input govuk-input--width-10" id="dx-address" name="dx-address" type="text" value="{{ data['dx-address'] }}" style="width: 300px; margin-bottom: 20px;">


            </dd>

            </div>




        </div>
    </form>


    </div>



</div>


<script type="text/javascript">
    <!--
        function toggle_visibility(id) {
           var e = document.getElementById(id);
           if(e.style.display == 'block')
              e.style.display = 'none';
           else
              e.style.display = 'block';
        }
    //-->
    </script>


<style>

    .govuk-button-group {
        margin-right: -15px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
        display: flex;
    }

    .govuk-button-group .govuk-button, .govuk-button-group .govuk-link {
    margin-right: 15px;
}

.govuk-button-group .govuk-link {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1;
}
.govuk-form-group {
    float:left;
    margin-right:40px;
}

.govuk-summary-list__key, .govuk-summary-list__value, .govuk-summary-list__actions {
    border-bottom: 0px solid #b1b4b6;
}
    </style>


{% endblock %}
