{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class=" govuk-grid-column-full govuk-!-padding-bottom-5" style="max-width:860px;">


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">
        Check your answers before sending your application
      </h1>


      <table class="govuk-table">
        <form action="8" method="post" class="form">
        <div  class="govuk-!-margin-bottom-9">
          <h3 class="govuk-heading-m">Your organisation
          </h3>
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Name
              </dt>
              <dd class="govuk-summary-list__value"> {{ data['organisationsName'] }}
                {% for feature in data['organisationsName'] %}
                 {% else %}
                   User Research Ltd
                 {% endfor %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="10a">
                  Change<span class="govuk-visually-hidden"> address</span>
                </a>
              </dd>
            </div>
            </dl>
        </div>
        </table>
          <div class="govuk-!-margin-bottom-9">

        <table class="govuk-table">
          <div class="govuk-!-margin-bottom-9">
            <h3 class="govuk-heading-m">Existing primary responsible person details
            </h3>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
                <label class="govuk-label" for="last-name">
                    First name
                </label>
                <input class="govuk-input" id="first-name" name="first-name" value="{{ data['first-name'] }}" type="text" style="width: 300px; margin-bottom: 20px;">
                <label class="govuk-label" for="last-name">
                    Surname / Family name
                </label>
                <input class="govuk-input" id="family-name" name="family-name" value="{{ data['family-name'] }}" type="text" style="width: 300px; margin-bottom: 20px;">
            </dd>
            <dd class="govuk-summary-list__actions">
                <button class="govuk-button text-button" data-module="govuk-button" data-module="govuk-button">
                    Update
                  </button>
            </dd>
          </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Have they left the organisation?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['left-organisation'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="10g">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        </table>
        <div class="govuk-!-margin-bottom-9">

          <table class="govuk-table">
          <h3 class="govuk-heading-m">New responsible persons details
          </h3>
            <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Name
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['new-first-name'] }} {{ data['new-family-name'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="10i">
                  Change<span class="govuk-visually-hidden"> name</span>
                </a>
              </dd>
            </div>
          <dt class="govuk-summary-list__key">
              Responsible person's address
          </dt>
          <dd class="govuk-summary-list__value">
            <ul style="list-style-type: none;padding-inline-start: 0px;margin-top:0px;">
              <li>{{ data['address-line-1'] }}</li>
              <li>{{ data['address-town'] }}</li>
              <li>{{ data['address-county'] }}</li>
              <li>{{ data['postcode'] }}</li>
              <li style="margin-top:10px;">DX: {{ data['dx-address'] }}
                {% for feature in data['dx-address'] %}
                 {% else %}
                   not provided
                 {% endfor %}</li>
            </ul>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="10c">
              Change<span class="govuk-visually-hidden"> address</span>
            </a>
          </dd>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Contact details
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">{{ data['telephone-number'] }}</p>
            <p class="govuk-body">{{ data['email'] }}</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="10d">
              Change<span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Receive security credentials by
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">{{ data['receive-type'] }}</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="10e">
              Change<span class="govuk-visually-hidden"> delivery</span>
            </a>
          </dd>
        </div>
        </table>

        <table class="govuk-table">
      <div class="govuk-!-margin-bottom-8 govuk-body">
        <h3 class="govuk-heading-m" >Application signature
        </h3>
        <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
              Signature uploaded
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">{{ data['uploaded-signature'] }}
           {% for feature in data['uploaded-signature'] %}
            {% else %}
              <p>No</p>
            {% endfor %}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="10f">
              Change<span class="govuk-visually-hidden"> delivery</span>
            </a>
          </dd>
        </div>
      </div>

        </table>






      <h3 class="govuk-heading-s govuk-!-margin-bottom-3">Send your application</h3>
      <p class="govuk-body govuk-!-margin-bottom-6">
        By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.
      </p>


      <div class=" govuk-grid-column-full" style="padding:0px 0px 0px 0px;">
        <button class="govuk-button" data-module="govuk-button" data-module="govuk-button" onclick="window.location.href='9.html'">
            Accept and send
        </button>
      </div>

    </div>

  </div>
  <style>

    .govuk-summary-list__value > p {
        margin-bottom: 0;
    }

    .govuk-summary-list__key, .govuk-summary-list__value, .govuk-summary-list__actions {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    </style>
{% endblock %}
