.recommendedBox {
    background-color: #f5f5f5;
    color: #ffffff;
    background: #00703c;
    border-left: 0px;
    font-size: 25px;
    padding: 40px 20px;
    text-align: center;
}

.recommendedBoxTitle {
    margin-bottom: 5px;font-size: 45px;
}

.recommendedBoxLink {
    color: #ffffff !important;
}

.govuk-notification-banner__title {
    font-family: GDS Transport,arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    margin: 0;
    padding: 0;
    color: #fff;
}

.govuk-notification-banner {
    font-family: GDS Transport,arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    margin-bottom: 30px;
    border: 5px solid #1d70b8;
    background-color: #1d70b8;
}

.govuk-notification-banner__header {
    padding: 2px 15px 5px;
    border-bottom: 1px solid rgba(0,0,0,0);
}

.govuk-notification-banner__content {
    color: #0b0c0c;
    padding: 15px;
    background-color: #fff;
}

.govuk-notification-banner__content>* {
    box-sizing: border-box;
}

.govuk-notification-banner__heading {
    font-family: GDS Transport,arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.11111;
    margin: 0 0 15px;
    padding: 0;
}

.govuk-notification-banner__content>:last-child {
    margin-bottom: 0;
}

@media (min-width: 40.0625em){
    .govuk-notification-banner__title {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.31579;
    }
    .govuk-notification-banner__header {
        padding: 2px 20px 5px;
    }

    .govuk-notification-banner {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.31579;
    }
    .govuk-notification-banner {
        margin-bottom: 50px;
    }

    .govuk-notification-banner__content {
        padding: 20px;
    }

    .govuk-notification-banner__heading {
        font-size: 24px;
        font-size: 1.5rem;
        line-height: 1.25;
    }

}

.text-button {
    -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
font-weight: 400;
font-size: 1.1875rem;
line-height: 1.31579;
box-sizing: border-box;
display: inline-block;
position: relative;
width: unset;
margin-top: 0;
padding: 8px 0px 7px;
border: 0px solid transparent;
border-radius: 0;
background-color: unset;
box-shadow: unset;
text-align: center;
vertical-align: top;
cursor: pointer;
-webkit-appearance: none;
color: #1d70b8;
    margin-bottom:0px;
    vertical-align: unset;
    text-decoration: underline;;
}

.text-button:hover {
background-color: unset;
color: #003078;
    margin-bottom:0px;
    vertical-align: unset;
    text-decoration: underline;;
}