
{% extends "layout.html" %}




{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

<div id="emailHeader">
    <img class="imgHeader" src="/public/images/Email1_WithText_01.jpg">
</div>

<div id="emailInboxAndContent">

    <div id="emailInbox" style="float:left;">
        <img class="imgInbox" src="/public/images/Email1_WithText_02.jpg">
    </div>

    <div id="emailInfoAndText" style="float:left;">

        <div id="emailInfo">
            <img class="imgInfo" src="/public/images/Email1_WithText_04b.jpg">
        </div>

        <div id="emailText" style="max-width: 800px;">

            <p class="govuk-body maintitle">
                Important information regarding your application 
            </p>

            <p class="govuk-body" style="margin-bottom:20px;">
                We have received your application for access to HM Land Registry’s Business e-services.
            </p>


            <div style="background: #00703c;width: 300px;padding: 10px;text-align: center;margin-bottom: 20px;">

                <p class="govuk-body" style="margin-bottom: 0px;color: #fff;">
                    Your application reference number is 
                </p>
                    
                <p class="govuk-body" style="margin-bottom: 0px;color: #fff;font-weight: 600;font-size: 24px;">
                    HDJ2123F 
                </p>
                    
            </div>

            <p class="govuk-body under_subtitle">
                We will send you a new confirmation email once your application has been processed.
            </p>



            <p class="govuk-body subtitleMax">
                Do you need to apply for additional services?
            </p>
            <p class="govuk-body under_subtitle">
                If you require access to <a href="https://www.gov.uk/guidance/hm-land-registry-network-services">Network Services</a> or <a href="https://www.gov.uk/guidance/hm-land-registry-lender-services">Lender services</a> then complete the required forms and <a style="color: #1d70b8 !Important;" href="/UserResearch/PortalSignup/V3/NewAccountPart2/">upload them to your account</a>. If you require access to both services then ensure all forms are signed and uploaded at the same time.
            </p>

            <p class="govuk-body subtitle">
                Network services 
            </p>
            <p class="govuk-body under_subtitle">
                Organisations that meet the required criteria can apply to use Network Services through the portal or Business Gateway to submit electronic applications to update the register. To apply, you’ll need to complete and upload the <a href="https://www.gov.uk/government/publications/hm-land-registry-network-access-agreement">HM Land Registry Network Access Agreement</a>. 
            </p>
            <p class="govuk-body subtitle">
                Lender services 
            </p>
            <p class="govuk-body under_subtitle">
                Lender services allow lenders to use the HM Land Registry portal to discharge mortgages. To apply, you’ll need to complete and upload the <a href="https://www.gov.uk/government/publications/hm-land-registry-memorandum-of-understanding-for-lenders">memorandum of understanding form</a>. 
            </p>
            <p class="govuk-body" style="margin-top:20px;">
                <a style="color: #1d70b8 !Important;" href="/UserResearch/PortalSignup/V3/NewAccountPart2/">Upload the completed forms to your account</a> using your reference number <b>HDJ2123F</b>. 
            </p>


            <p class="govuk-body" style="margin-top:50px;">
                Please don't reply to this email. <a href="#">You can find contact details on our website</a>. 
            </p>
        </div>

    </div>



</div>




    </div>

  </div>

  <style>
    .govuk-width-container {
    max-width: 1743px !Important;
    margin: auto;
}

.imgHeader {
    width:100%;
}

.imgInbox {
    width:557px;
}

#emailInfoAndText {
    width:calc(100% - 557px);
}

.imgInfo {
    width:100%;
}

.govuk-header {
    border-bottom: 0px solid #ffffff;

}

.govuk-main-wrapper--auto-spacing:first-child, .govuk-main-wrapper--l {
    padding-top: 0px;
}

.govuk-main-wrapper {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #ffffff;
    margin-bottom: 50px;
}
.govuk-template__body {
    margin: 0;
    background-color: #000000;
}

.govuk-header__container {
    border-bottom: 0px solid #1d70b8;
}

.govuk-body, p {
    font-size: 16px;
    /* font-size: 1.1875rem; */
    line-height: 1.31579;
}

.maintitle {
    font-weight: bold;
    font-size: 44px;
    line-height: 44px;
    margin-bottom: 25px;
    max-width: 650px;
    margin-top: 10px;
	}

    .subtitleMax {
		font-weight:bold;
		font-size:24px;
		margin-bottom:0px;
		margin-top:40px;
	}



.subtitle {
		font-weight:bold;
		font-size:19px;
		margin-bottom:0px;
		margin-top:20px;
	}

.under_subtitle {
	margin-top:5px;
}



</style>

{% endblock %}
