
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full govuk-!-padding-bottom-3">

      <img style="height:60px;" class="govuk-!-margin-bottom-6" src="/public/images/Logo-HMLR-Expanded.png">

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6" >
            Apply for or update a Business <br>e-services account
          </h1>

          <p class="govuk-!-margin-bottom-7" style="max-width: 770px;">
            Our Business e-services are for organisations that regularly transact with us as part of the conveyancing process to request information from HM Land Registry’s Land Register or to lodge applications to change the register online.
          </p>


          <div class="govuk-body govuk-!-margin-bottom-7" style="max-width: 765px;">
            <h3 class="govuk-heading-m" style="margin-bottom: 10px;">Before you start:</h3>

            <ul class="govuk-body">
              <li>after applying for a new Business e-services account, you will receive an email with instructions on how to apply for Network Services and Lender Services</li>
              <li>filling in the form incorrectly may delay the account approval</li>
          </ul>

        </div>

          <div class="govuk-body govuk-!-margin-bottom-7" style="max-width: 765px;">
              <h3 class="govuk-heading-m" style="margin-bottom: 10px;">Use this service to:</h3>

              <ul class="govuk-body">
                <li>apply for access to Information Services - Including Application Enquiry and MapSearch, Land Charges Services and the electronic Document Registration Service (e-DRS)</li>
                <li>apply for access to Network Services - available to legal services providers, such as solicitors and licensed conveyancers</li>
                <li>apply for access to Lender Services - available for lenders and third party agents that sometimes act on their behalf</li>
                <li>update account details for organisations that already have a Business e-services account</li>
            </ul>

          </div>

        <form class="form" action="businessaccountalreadyornot2" method="post">
        <div class="govuk-form-group govuk-!-margin-bottom-7">
            <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                    Does your organisation already have a Business e-services account?
                </h1>
              </legend>

              <div class="govuk-radios govuk-radios--inline">


                
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="alreadyornot-1" name="alreadyornot" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="alreadyornot-1">
                    Yes
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="alreadyornot-2" name="alreadyornot" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="alreadyornot-2">
                    No
                  </label>
                </div>

              </div>
          
            </fieldset>
          </div>

          <button type="submit" class="govuk-button govuk-button--start" data-module="govuk-button">
            Start now
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
              <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </button>
  
        </form>
    </div>

  </div>

{% endblock %}
