
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        P381 User Research
      </h1>
      <p>
        This is where prototypes for the P381 CRM project will be developed.
      </p>

      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                Contact Form (Q&A)
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1" style="padding-top: 0px;">
            
            
            <h3 class="govuk-heading-s" style="margin-bottom:5px;">Member of public user journey</h3>
            <p><a href="/UserResearch/ContactformQA/Public/contactqahome.html" target="_blank">Version 1.0</a> - Form clickthrough<br>
              <a href="/UserResearch/ContactformQA/Options/Wiki/V1/contactqahome.html" target="_blank">Version 1.0</a> - Wiki Option A - Homepage link text<br>
              <a href="/UserResearch/ContactformQA/Options/Wiki/V2/contactqahome.html" target="_blank">Version 1.1</a> - Wiki Option B - Homepage link buttons<br>
              <a href="/UserResearch/ContactformQA/Options/Search/contactqahome.html" target="_blank">Version 1.0</a> - Search</p>
 
              <h3 class="govuk-heading-s" style="margin-bottom:5px;">Search prototypes</h3>
              <p><a href="/UserResearch/ContactformQA/Options/Search/search-prototype.html" target="_blank">Version 1.0</a> - Dropdown questions list that's searchable<br>
                <a href="/UserResearch/ContactformQA/Options/Search/search-prototype2.html" target="_blank">Version 2.0</a> - Searches a database and returns a question and answer<br>
                <a href="/UserResearch/ContactformQA/Options/Search/search-prototype3.html" target="_blank">Version 3.0</a> - Searches a database and returns a question and answer - Layout 2<br>
                <a href="/UserResearch/ContactformQA/Options/Search/search-prototype4.html" target="_blank">Version 4.0</a> - Searches a database and returns a question and answer - Layout 3<br>
                <a href="/UserResearch/ContactformQA/Options/Search/search-prototype5.html" target="_blank">Version 5.0</a> - Searches a database and returns a question and answer - Layout 4 - Category options<br>
                <a href="/UserResearch/ContactformQA/Options/Search/search-prototype6.html" target="_blank">Version 6.0</a> - Smart search - With suggested content sections<br>
                <a href="/UserResearch/ContactformQA/Options/Search/search-prototype7.html" target="_blank">Version 7.0</a> - Smart search - Without suggested sections<br>
                <a href="/UserResearch/ContactformQA/Options/Search/search-prototype8.html" target="_blank">Version 8.0</a> - Smart search - Simple Google style<br></p>
   

          </div>
        </div>
        <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Guided Assistance
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1" style="padding-top: 0px;">
              <p class='govuk-body'>The live version of these forms is linked to from the <a href="https://www.gov.uk/guidance/contact-hm-land-registry" target="_blank">LR contact page</a>.<p>
              
              
                <h3 class="govuk-heading-s" style="margin-bottom:5px;">Update property records when someone has died</h3>
                <p><a href="/UserResearch/GuidedAssistance/Bereavement/V1/" target="_blank">Version 1.0</a><br>
                  <a href="/UserResearch/GuidedAssistance/Bereavement/V2/" target="_blank">Version 2.0</a> - Start page updated, questions/titles updated<br>
                  <a href="/UserResearch/GuidedAssistance/Bereavement/V3/" target="_blank">Version 3.0</a> - Alternate user journey design<br>
                  <a href="/UserResearch/GuidedAssistance/Bereavement/V4/" target="_blank">Version 4.0</a> - Updated title - word descriptions added - summary page title and layout updated<br>
                  <a href="/UserResearch/GuidedAssistance/Bereavement/V5/" target="_blank">Version 5.0</a> - Updated content in the single page layout<br>
                  <a href="/UserResearch/GuidedAssistance/Bereavement/V6/" target="_blank">Version 6.0</a> - Multi page option with summary page update<br>
                  <a href="/UserResearch/GuidedAssistance/Bereavement/V7/" target="_blank">Version 7.0</a> - Single page with green CTA</p>

                <h3 class="govuk-heading-s" style="margin-bottom:5px;">Change your contact address on property records</h3>
                <p><a href="/UserResearch/GuidedAssistance/AddressUpdate/V1/" target="_blank">Version 1.0</a><br>
                  <a href="/UserResearch/GuidedAssistance/AddressUpdate/V2/" target="_blank">Version 2.0</a> - Start page updated<br>
                  <a href="/UserResearch/GuidedAssistance/AddressUpdate/V3/" target="_blank">Version 3.0</a> - Updated title - start page registry text added - "Don't know" option removed</p>

                <h3 class="govuk-heading-s" style="margin-bottom:5px;">Change your name on property records</h3>
                <p><a href="/UserResearch/GuidedAssistance/PropertyRecord/V1/" target="_blank">Version 1.0</a><br>
                  <a href="/UserResearch/GuidedAssistance/PropertyRecord/V2/" target="_blank">Version 2.0</a> - Start page updated<br>
                  <a href="/UserResearch/GuidedAssistance/PropertyRecord/V3/" target="_blank">Version 3.0</a> - Updated title - start page registry text added - "Don't know" option removed</p>


                <h3 class="govuk-heading-s" style="margin-bottom:5px;">Deal with common boundary matters</h3>
                <p><a href="/UserResearch/GuidedAssistance/CommonBoundary/V1/" target="_blank">Version 1.0</a><br>
                  <a href="/UserResearch/GuidedAssistance/CommonBoundary/V2/" target="_blank">Version 2.0</a> - Start page updated, fewer options, "Show more content" buttons removed, content re-ordered<br>
                  <a href="/UserResearch/GuidedAssistance/CommonBoundary/V3/" target="_blank">Version 3.0</a> - Updated title - start page boundary text added - previously removed options added back<br>
                  <a href="/UserResearch/GuidedAssistance/CommonBoundary/V4/" target="_blank">Version 4.0</a> - New layout - under construction</p>
                </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Web Forms
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1" style="padding-top: 0px;">
              <p class='govuk-body'>The new forms use the same form fields, but introduce a consistent GDS based design update.<p>
              
              
                <h3 class="govuk-heading-s" style="margin-bottom:5px;">Managed Services</h3>
                <p>
                  <a href="https://help.landregistry.gov.uk/app/contactus_Managed_Services" target="_blank">Live Version</a> accessed from <a href="https://www.gov.uk/government/publications/application-for-application-management-service-ams1" target="_blank">here</a><br>
                  <a href="/UserResearch/Webforms/ManagedServices/V1.html" target="_blank">Version 1.0</a> - Form updated with GDS design components<br>
                </p>

                <h3 class="govuk-heading-s" style="margin-bottom:5px;">Customer complaints feedback</h3>
                <p>
                  <a href="https://help.landregistry.gov.uk/app/contactus_feedback" target="_blank">Live Version</a> accessed from <a href="https://www.gov.uk/government/organisations/land-registry/about/complaints-procedure" target="_blank">here</a><br>
                  <a href="/UserResearch/Webforms/Feedback/V1.html" target="_blank">Version 1.0</a> - Form updated with GDS design components<br>
                </p>

                <h3 class="govuk-heading-s" style="margin-bottom:5px;">Change a sales record</h3>
                <p>
                  <a href="https://help.landregistry.gov.uk/app/contactus_changesales/" target="_blank">Live Version</a> accessed from <a href="https://www.gov.uk/government/statistical-data-sets/price-paid-data-downloads" target="_blank">here</a><br>
                  <a href="/UserResearch/Webforms/Salesrecord/V1.html" target="_blank">Version 1.0</a> - Form updated with GDS design components<br>
                </p>


                <h3 class="govuk-heading-s" style="margin-bottom:5px;">Large scale application (Bulk)</h3>
                <p>
                  <a href="https://help.landregistry.gov.uk/app/contactus_LargeScaleApplication" target="_blank">Live Version</a> accessed from <a href="https://www.gov.uk/government/publications/large-scale-applications-and-calculation-of-fees/practice-guide-33-large-scale-applications-and-calculation-of-fees" target="_blank">here</a><br>
                  <a href="/UserResearch/Webforms/Largescale/V1.html" target="_blank">Version 1.0</a> - Form updated with GDS design components<br>
                </p>


                
                <h3 class="govuk-heading-s" style="margin-bottom:5px;">Data Services Contact Form</h3>
                <p>
                  <a href="https://help.landregistry.gov.uk/app/contactus_comm_services/" target="_blank">Live Version</a><br>
                  <a href="/UserResearch/Webforms/DataServices/V1.html" target="_blank">Version 1.0</a> - Form updated with GDS design components<br>
                </p>


                <h3 class="govuk-heading-s" style="margin-bottom:5px;">Welsh Contact Us</h3>
                
                  <div class="govuk-warning-text" style="margin-bottom:0px;">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                      <span class="govuk-warning-text__assistive">Warning</span>
                      Only use the design style from this form, not the logic used to present different options. <br>Take that information from the live version.
                    </strong>
                  </div><p>
                  <a href="https://help.landregistry.gov.uk/app/contactus_general_enq_w/" target="_blank">Live Version</a> accessed from <a href="https://www.gov.uk/guidance/contact-hm-land-registry.cy" target="_blank">here (main LR contact page whilst viewed in Welsh)</a><br>
                  <a href="/UserResearch/Webforms/WelshContact/V1.html" target="_blank">Version 1.0</a> - Form updated with GDS design components<br>
                </p>

                </div>
          </div>
    </div>
  </div>

{% endblock %}
