
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        P381 User Research
      </h1>
      <p>
        This is where prototypes for the P381 CRM project will be developed.
      </p>

      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                Contact form (Q&A)
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1" style="padding-top: 0px;">
            <p class='govuk-body'>The live version of this form is linked to from the <a href="https://www.gov.uk/guidance/contact-hm-land-registry">LR contact page</a>.<p>
              <p><a href="/UserResearch/ContactformQA/">Version 1.0</a></p>
          </div>
        </div>
        <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Guided Assistance
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1" style="padding-top: 0px;">
              <p class='govuk-body'>The live version of these forms is linked to from the <a href="https://www.gov.uk/guidance/contact-hm-land-registry" target="_blank">LR contact page</a>.<p>
              
              
                <h3 class="govuk-heading-s" style="margin-bottom:5px;">Update property records when someone has died</h3>
                <p><a href="/UserResearch/GuidedAssistance/Bereavement/V1/" target="_blank">Version 1.0</a><br>
                  <a href="/UserResearch/GuidedAssistance/Bereavement/V2/" target="_blank">Version 2.0</a> - Start page updated, questions/titles updated<br>
                  <a href="/UserResearch/GuidedAssistance/Bereavement/V3/" target="_blank">Version 3.0</a> - Alternate user journey design<br>
                  <a href="/UserResearch/GuidedAssistance/Bereavement/V4/" target="_blank">Version 4.0</a> - Updated title - word descriptions added - summary page title and layout updated</p>

                <h3 class="govuk-heading-s" style="margin-bottom:5px;">Change your contact address on property records</h3>
                <p><a href="/UserResearch/GuidedAssistance/AddressUpdate/V1/" target="_blank">Version 1.0</a><br>
                  <a href="/UserResearch/GuidedAssistance/AddressUpdate/V2/" target="_blank">Version 2.0</a> - Start page updated<br>
                  <a href="/UserResearch/GuidedAssistance/AddressUpdate/V3/" target="_blank">Version 3.0</a> - Updated title - start page registry text added - "Don't know" option removed</p>

                <h3 class="govuk-heading-s" style="margin-bottom:5px;">Change your name on property records</h3>
                <p><a href="/UserResearch/GuidedAssistance/PropertyRecord/V1/" target="_blank">Version 1.0</a><br>
                  <a href="/UserResearch/GuidedAssistance/PropertyRecord/V2/" target="_blank">Version 2.0</a> - Start page updated<br>
                  <a href="/UserResearch/GuidedAssistance/PropertyRecord/V3/" target="_blank">Version 3.0</a> - Updated title - start page registry text added - "Don't know" option removed</p>


                <h3 class="govuk-heading-s" style="margin-bottom:5px;">Deal with common boundary matters</h3>
                <p><a href="/UserResearch/GuidedAssistance/CommonBoundary/V1/" target="_blank">Version 1.0</a><br>
                  <a href="/UserResearch/GuidedAssistance/CommonBoundary/V2/" target="_blank">Version 2.0</a> - Start page updated, fewer options, "Show more content" buttons removed, content re-ordered<br>
                  <a href="/UserResearch/GuidedAssistance/CommonBoundary/V3/" target="_blank">Version 3.0</a> - Updated title - start page boundary text added</p>
            </div>
          </div>
        
    </div>
  </div>

{% endblock %}
