{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class=" govuk-grid-column-full govuk-!-padding-bottom-5">


      <h1 class="govuk-heading-xl">
        Current responsible person
      </h1>
      <form action="2" method="post" class="form">
        <div style="">

            <div class="govuk-form-group">

                <div style="margin-right:15px; float:left;">
                <label class="govuk-label" for="first-name">
                  Title
                  </label> 
                <select class="govuk-select" style="max-width:150px;"onchange="location = this.value;">
                  <option value="#"></option>
                  <option value="#">Dr</option>
                  <option value="#">Mr</option>
                  <option value="#">Miss</option>
                  <option value="#">Mrs</option>
                  <option value="#">Prof</option>
                  <option value="#">Sir</option>
                  <option value="#">Lord</option>
                  <option value="#">Lady</option>
                  <option value="1-other.html">Other</option>
                </select>
              </div>
  
              <div style=" float:left;">
                  <label class="govuk-label" for="old-first-name">
                  First/Given names
                  </label> 
                  <input class="govuk-input" id="old-first-name" name="old-first-name" value="{{ data['old-first-name'] }}" type="text" style="width: 200px;">
                </div>
  
  
              </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="old-last-name">
                    Surname/Family name
                </label>
                <input class="govuk-input" id="old-family-name" name="old-family-name" value="{{ data['old-family-name'] }}" type="text" style="width: 300px;">
            </div>
          </div>

          <div class=" govuk-grid-column-full" style="padding:0px;">
            <button class="govuk-button" data-module="govuk-button" data-module="govuk-button">
                Continue
            </button>
          </div>

            </div>




        </div>
    </form>


    </div>



</div>

<style>

    .govuk-button-group {
        margin-right: -15px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
        display: flex;
    }

    .govuk-button-group .govuk-button, .govuk-button-group .govuk-link {
    margin-right: 15px;
}

.govuk-button-group .govuk-link {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1;
}
.govuk-form-group {
    float:left;
    margin-right:40px;
}

.govuk-summary-list__key, .govuk-summary-list__value, .govuk-summary-list__actions {
    border-bottom: 0px solid #b1b4b6;
}
    </style>


{% endblock %}
