{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit 
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class=" govuk-grid-column-full govuk-!-padding-bottom-5">
  

      <h1 class="govuk-heading-xl">
        New deputy responsible person's <br>contact details
      </h1>

        <div style="max-width:640px;">
            <div class="govuk-form-group">
                <label class="govuk-label" for="first-name">
                First / Given name(s)
                </label>
                <input class="govuk-input" id="first-name" name="first-name" type="text" style="width: 420px;">
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="last-name">
                    Surname / Family name
                </label>
                <input class="govuk-input" id="family-name" name="family-name" type="text" style="width: 420px;">
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="email">
                Email address
                </label>
                <input class="govuk-input" id="email" name="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email" style="width: 420px;">
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="last-name">
                    UK Telephone number
                </label>
                <input class="govuk-input" id="telephone-number" name="telephone-number" type="tel" autocomplete="tel" style="width: 420px;">
            </div>


            <div class="govuk-form-group" style="margin-bottom:15px;">
                <label class="govuk-label" for="first-name">
                UK postcode
                </label>
                <input class="govuk-input" id="first-name" name="first-name" type="text" style="width: 420px;">
            </div>

            <div class="govuk-button-group">
                <button class="govuk-button" data-module="govuk-button" data-module="govuk-button" onclick="window.location.href='newDeputyAddress.html'">
                    Find address
                </button>
                <a class="govuk-link" href="#">Add address manually</a>
            </div>

        </div>
    </div>


      
</div>
<style>
    .govuk-button-group {
        margin-right: -15px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
        display: flex;
    }

    .govuk-button-group .govuk-button, .govuk-button-group .govuk-link {
    margin-right: 15px;
}
    
.govuk-button-group .govuk-link {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1;
}

    </style>


{% endblock %}
